
.thesaas-sections-split .section,
.thesaas-sections-split .main-content .topbar,
.thesaas-sections-split .main-content .site-footer {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .main-content .topbar {
  position: static;
}

.thesaas-sections-split .main-content .topbar .topbar-toggler {
  display: none;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

.thesaas-sections-split.topbar-reveal .main-content .topbar-nav {
  display: none;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section,
  .thesaas-sections-split .main-content .site-footer {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Raleway","Open Sans",sans-serif;
}


[data-overlay]::before, [data-overlay-light]::before {
  background-image: linear-gradient(0deg, #7b4195 0%, #112638 40%);
}

.pricing-1 ul {
  list-style: none;
  padding: 0px;
}

.cell {
  border-left: 2px solid #ccc;
    width: 20%;
    position: relative;
  font-size: 14px;
  line-height: 22px;
    height: 260px;
    border-bottom: 3px solid #62bde1;
    padding-right: 10px;
    display: table-cell;
}

@media (max-width: 769px) {
.cell {
    border-left: 1px solid #62bde1;
    width: 100%;
    position: relative;
    height: 125px;
    border-bottom: none;
    padding-right: 10px;
    display: block;
}
}

.cell:after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: -14px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #63bce1;
  webkit-box-shadow: 0 1px 25px       rgba(0,0,0,0.1);
    box-shadow: 0 1px 25px rgba(0,0,0,0.1);
}

@media (max-width: 769px) {
.cell:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 12px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #63bce1;
}
}

.cell-success {
  border-left: 2px solid #ccc;
    width: 20%;
    position: relative;
  font-size: 14px;
  line-height: 22px;
    height: 260px;
    border-bottom: 3px solid #46da60;
    padding-right: 10px;
    display: table-cell;
}

@media (max-width: 769px) {
.cell-success {
    border-left: 1px solid #46da60;
    width: 100%;
    position: relative;
    height: 125px;
    border-bottom: none;
    padding-right: 10px;
    display: block;
}
}


.cell-success:after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: -14px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background: #46da60;
    webkit-box-shadow: 0 1px 25px       
    rgba(0,0,0,0.1);
    box-shadow: 0 1px 25px rgba(0,0,0,0.1);
}

@media (max-width: 769px) {
.cell-success:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 12px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #46da60;
}
}



.fund-cell {
    height: 250px !important;
}




.table .roadmap-table {
  margin: 50px 0 0 10px; 
  display: table;
  width: 100%;
}


.info-holder {
    padding-left: 10px;
    height: 100px;
    position: relative;
}

.roadmap-title {
margin-bottom: 10px;
font-family: "Raleway","Open Sans",sans-serif;
font-size: 18px;
font-weight: 600;
color: #37404d;
}

@media (max-width: 769px) {
.info-holder {
    border-left: none;
    padding-left: 20px;
    height: 100px;
    position: relative;
}
}


.progress-meter {
  min-height: 15px;
  border-bottom: 1px solid #fff;
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: #fff;
}

.progress-meter > .meter-left {
  border-left-width: 1px;
}

.progress-meter > .meter-right {
  float: right;
  border-right-width: 1px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 1px;
}

@media (max-width: 769px) {
  .progress-meter > .meter > .meter-text {
     font-size: 0.5em !important;
     bottom: -60px !important;
  }
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -100px;
  bottom: -100px;
  width: 100%;
  height: 100px;
  font-weight: 600;
  font-size: 0.85em;
  color: #fff;
  text-align: left;
}

.pricing-1 .date-name {
    padding: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #f1f2f3;
    background-color: #fcfdfe;
}

.pricing-1 .plan-name-selected {
    padding: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #f1f2f3;
    background-color: #5cb85c;
}

.pricing-1 .plan-name-nonselected {
    padding: 16px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #f1f2f3;
    background-color: #98d8ff;
}

/*--------------------

MAIN ROADMAP STYLING

----------------------*/

.HomeRoadmap-description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 40px; }
  .HomeRoadmap-description__text {
    -ms-flex-preferred-size: 451px;
        flex-basis: 451px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #62bde1; }

.HomeRoadmap-points {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 50px;
  height: 180px; }

.HomeRoadmap-points__path {
  top: 40px;
  position: absolute;
  height: 233px;
  border-radius: 117px;
  border: solid 3px #62bde1; }
  .HomeRoadmap-points__path--right {
    right: 0%;
    left: 15%;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .HomeRoadmap-points__path--left {
    left: 0%;
    right: 15%;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

@media screen and (max-width: 1280px) {
  .HomeRoadmap-description {
    -ms-flex-direction: column;
        flex-direction: column; }
    .HomeRoadmap-description__text {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      margin-bottom: 40px; }
  .HomeRoadmap-map {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (max-width: 1024px) {
  .HomeRoadmap-points__path--right {
    right: 0%;
    left: 20%; }
  .HomeRoadmap-points__path--left {
    left: 0%;
    right: 35%; } }

@media screen and (max-width: 768px) {
  .HomeRoadmap-points {
    height: auto;
    margin: 0;
    -ms-flex-direction: column;
        flex-direction: column; }
  .HomeRoadmap-points--mobile-reverse {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .HomeRoadmap-points__path {
    display: none; }
  .HomeRoadmap-description {
    margin: 0 0 40px; }
    .HomeRoadmap-description__text {
      text-align: center;
      width: auto;
      height: auto;
      -ms-flex-negative: 1;
          flex-shrink: 1; }
  .HomeRoadmap-map {
    display: none; } }

    .HomeRoadmap-point {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 300px;
  position: relative; }
  .HomeRoadmap-point:last-child .HomeRoadmap-point__separator {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    background-color: initial; }
  .HomeRoadmap-point__content {
    text-align: center; }
  .HomeRoadmap-point__title {
    margin: 10px 0 10px;
    font-family: "Raleway","Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #37404d; }
  .HomeRoadmap-point__description {
    width: 226px;
    font-weight: 300;
    color: #37404d;
    line-height: 18px;
    font-size: 14px; }
  .HomeRoadmap-point__mobile-separator {
    display: none; }
  .HomeRoadmap-point__icon {
    background-color: #62bde1;
    border-radius: 100%;
    box-shadow: 0 1px 25px rgba(0,0,0,0.1);
    webkit-shadow: 0 1px 25px rgba(0,0,0,0.1);
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }

@media screen and (max-width: 768px) {
  .HomeRoadmap-point {
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
        align-items: flex-start;
    width: auto;
    -ms-flex: auto;
        flex: auto;
    height: 140px; }
    .HomeRoadmap-point__description {
      width: auto; }
    .HomeRoadmap-point__title {
      margin-bottom: 10px; }
    .HomeRoadmap-point__mobile-separator {
      display: block;
      width: 2px;
      height: 100%;
      background-color: #62bde1;
      position: absolute;
      left: 40.5px; }
    .HomeRoadmap-point__content {
      text-align: left;
      margin-left: 20px; }
    .HomeRoadmap-point__title {
      margin: 0 0 10px;
      font-size: 18px; }
    .HomeRoadmap-point__description {
      font-size: 13px; }
  .HomeRoadmap-points:last-child
> .HomeRoadmap-point:last-child
> .HomeRoadmap-point__mobile-separator {
    display: none; } }


.grayscale-img {
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}