/**
|------------------------------------------------
| Table of Contents
|------------------------------------------------
|01. Font & Colour
|02. Mixins
|---------------------------------------------**/
/** @include font($normal, 16px); */
body {
  background-color: #252525;
  font-family: "Titillium Web", sans-serif;
  color: #FFFFFF;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus {
  outline: none;
}

.lang {
  color: #000000;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh * 140 / 1012);
  padding-top: calc(100vh * 50 / 1012);
  background-color: #000000;
}

.header-content {
  width: calc(100vh * 1576 / 1012);
  margin: auto;
}

.bottomBar {
  width: calc(100vh * 1576 / 1012);
  margin: auto;
  justify-content: space-between;
  display: flex;
}

.bottomBarContainer {
  width: 100%;
  position: fixed;
  left: 0;
  top: calc(100vh - 100vh * 76 / 1012);
  background-color: #00b7ce;
  z-index: 99;
}

.bottom-bar-area {
  width: 100%;
  height: calc(100vh * 76 / 1012);
}

.bottomBar {
  height: calc(100vh * 76 / 1012);
}

.main-container {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

.footer {
  width: calc(100vh * 1600 / 1012);
  margin: auto;
}

.clear {
  clear: both;
}

h2 {
  color: #FFFFFF;
  font-size: calc(100vh * 62 / 1012);
  font-family: "Teko", sans-serif;
}

h3 {
  font-size: calc(100vh * 58 / 1012);
  line-height: calc(100vh * 71 / 1012);
  color: #FFFFFF;
  font-family: "Teko", sans-serif;
}

h5 {
  font-size: calc(100vh * 22 / 1012);
  line-height: calc(100vh * 44 / 1012);
  color: #FFFFFF;
  font-family: "Titillium Web", sans-serif;
}

a, button {
  cursor: pointer;
}

a:hover, button:hover {
  opacity: 0.6;
}

.footer-content {
  font-size: calc(100vh * 16 / 1012);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: calc(100vh * 1 / 1012);
  line-height: 1.5;
  padding: calc(100vh * 25 / 1012) 0;
}

.footer-content {
  position: inherit;
}

.terms {
  text-align: center;
}

.copyright {
  text-align: center;
}

.menu {
  display: inline-block;
  position: absolute;
  right: calc(200 * 100vh / 1012 + 4vw);
  padding: calc(100vh * 12 / 1012) 0;
}

.login-menu {
  display: inline-block;
  position: absolute;
  right: 4vw;
  width: calc(200 * 100vh / 1012);
  padding: calc(100vh * 12 / 1012) 0;
}

.bottomBar ul li, .menu ul li, .login-menu ul li {
  display: inline-block;
  position: relative;
}

.mobile-menu {
  display: none;
  font-size: calc(100vh * 48 / 1012);
  position: absolute;
  width: 90vw;
  top: calc(100vh * 100 / 1012);
}

.mobile-menu .navbar {
  padding: 0;
}

.mobile-menu .collapse {
  width: 90vw;
  position: absolute;
  top: calc(100vh * 40 / 1012);
}

.mobile-menu .collapsing {
  top: calc(100vh * 40 / 1012);
}

.mobile-menu button {
  position: absolute;
  right: 5vw;
  top: calc(100vh * -40 / 1012);
}

.mobile-menu .navbar-toggler {
  padding: calc(100vh * 6 / 1012) 0;
}

button:focus {
  outline: none;
}

.mobile-menu .menu-content {
  padding: 0 1.5rem !important;
}

.mobile-menu .list-group-item {
  color: #FFFFFF;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(100vh * 36 / 1012);
  letter-spacing: calc(100vh * 6 / 1012);
  background-color: #000000;
}

.mobile-menu .list-group-item:hover {
  background-color: #252525;
  opacity: 1;
}

.mobile-menu .list-group-item:hover {
  background-color: #252525;
}

.menu ul li, .login-menu ul li {
  padding-top: calc(100vh * 2 / 1012);
  margin: 0 calc(100vh * 24 / 1012);
}

.login-menu ul li {
  padding-top: calc(100vh * 2 / 1012);
  margin: 0 calc(100vh * 8 / 1012);
}

.menu ul li.group-account {
  margin: 0 calc(100vh * 7 / 1012);
}

.menu ul li.telegram {
  margin: 0 calc(100vh * 28 / 1012) 0 calc(100vh * 16 / 1012);
}

.fa-3x {
  font-size: calc(100vh * 38 / 1012);
}

.txt-signup {
  color: #00b7ce;
}

.txt-login {
  color: #b1d34a;
}

.menu ul li a, .login-menu ul li a {
  font-family: "Teko", sans-serif;
  font-size: calc(100vh * 32 / 1012);
  letter-spacing: calc(100vh * 2 / 1012);
}

.brand-logo {
  display: inline-block;
  background-image: url("../img/aenco-logo-light.png");
  background-size: calc(100vh * 230 / 1012) calc(100vh * 58 / 1012);
  width: calc(100vh * 230 / 1012);
  height: calc(100vh * 58 / 1012);
}

.txt-join-community {
  font-family: "Teko", sans-serif;
  font-size: calc(49 * 100vh / 1012);
  font-weight: 400;
  font-style: normal;
  margin-top: calc(16 * 100vh / 1012);
  letter-spacing: calc(5 * 100vh / 1012);
}

.bottomBar i {
  font-size: 4calc 4800vh/1012;
}

.bottomBar ul {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: calc(100vh * 570 / 1012);
  margin: calc(16 * 100vh / 1012) auto auto auto;
}

.bottomBar ul li {
  margin: 0 auto;
}

.bottomBar nav {
  width: 50%;
}

.more-btn-container {
  text-align: center;
  margin: calc(100vh * 50 / 1012) 0;
}

.btn-more {
  width: calc(100vh * 210 / 1012);
  height: calc(100vh * 48 / 1012);
  line-height: calc(100vh * 42 / 1012);
  font-size: calc(100vh * 22 / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  border: calc(100vh * 4 / 1012) solid #0a92a4;
  border-radius: calc(100vh * 24 / 1012);
  background-color: #076f7d;
  letter-spacing: calc(100vh * 2 / 1012);
}

#exampleModalLabel.modal-title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(100vh * 36 / 1012);
  letter-spacing: calc(100vh * 6 / 1012);
  margin: auto;
  width: 100%;
}

.modal-dialog {
  margin-left: 11vw;
  margin-top: 16vh;
  max-width: 78vw;
}
.modal-dialog .close {
  font-size: 3rem;
  color: #FFFFFF;
  margin-right: -0.7rem;
  margin-top: -3rem;
}
.modal-dialog .modal-content {
  background-color: #0093a5;
  box-shadow: 0.5vw 0.5vw 0.5vw 0.1vw rgba(0, 147, 165, 0.2);
}
.modal-dialog .modal-title {
  color: #FFFFFF;
}
.modal-dialog .modal-body {
  padding: 62vh 10% 0 0;
}
.modal-dialog .modal-body-content {
  width: 94%;
  position: absolute;
  top: 0;
  left: 3%;
}
.modal-dialog .modal-header {
  border: 0;
  background-color: #006a7c;
  padding-bottom: 0;
}
.modal-dialog .modal-header h5 {
  color: #FFFFFF;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  margin-left: 2vw;
}
.modal-dialog .modal-header span {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 5rem;
}

.no-langauge-bar {
  padding-top: 6%;
}

#pdfContainer {
  width: 100%;
  height: 46vh;
}

.pdf-frame {
  background-color: #0084a5;
  padding: 1%;
}

.languageSelector {
  margin-top: 3%;
  margin-bottom: 0.5%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.video-frame {
  background-color: #0084a5;
  padding: 1%;
  margin: auto;
  width: calc(48vh * 16 / 9);
  height: 48vh;
}

.popup-video-container {
  width: 100%;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.slick-next:before {
  content: ">";
}

.slick-prev:before {
  content: "<";
}

.slick-prev:before, .slick-next:before {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(60 * 100vh / 1012);
  line-height: 1;
  color: #00b7ce;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -3%;
  z-index: 80;
}

.slick-prev {
  left: -3%;
  z-index: 80;
}

.slick-list {
  height: calc(142 * 100vh / 1012);
}

.slider-item img {
  max-width: 100%;
  height: calc(132 * 100vh / 1012);
  padding: calc(5 * 100vh / 1012);
  max-height: 100%;
  margin: auto;
}

.slick-slide.slick-active {
  opacity: 1;
}

@media (max-aspect-ratio: 1800/1012) {
  .header-content, .bottomBar {
    width: calc(100vw * 1576 / 1800);
  }
}
@media (max-aspect-ratio: 1450/1012) {
  .menu {
    display: none;
  }

  .header-content {
    justify-content: space-between;
  }

  .mobile-menu {
    display: block;
  }

  .login-menu {
    right: 15vw;
    height: calc(100vh * 58 / 1012);
  }

  .bottomBarContainer {
    top: calc(100vh - 100vh * 152 / 1012);
  }

  .bottom-bar-area {
    height: calc(100vh * 152 / 1012);
  }

  .bottomBar {
    height: calc(100vh * 152 / 1012);
    display: block;
    text-align: center;
  }

  .bottomBar nav {
    width: 100%;
  }

  .bottomBar ul {
    max-width: 60vw;
    margin: auto;
  }

  .txt-join-community {
    text-align: center;
    font-size: calc(49 * 100vw / 1450);
  }

  .fa-3x {
    font-size: calc(100vw * 48 / 1450);
  }

  .footer {
    width: 80vw;
  }
  .footer .row {
    display: block;
  }
}
@media (max-aspect-ratio: 1012/1012) {
  .video-frame {
    width: 100%;
    height: calc(67vw * 9 / 16);
  }
}
@media (max-aspect-ratio: 1024/1366) {
  .brand-logo {
    background-size: calc(100vh * 230 / 1366) calc(100vh * 54 / 1366);
    width: calc(100vh * 230 / 1366);
    height: calc(100vh * 54 / 1366);
  }

  .mobile-menu button {
    right: 1vw;
  }

  .mobile-menu .navbar-toggler {
    padding: 0;
  }

  .login-menu {
    padding: 0;
    right: 12vw;
  }

  .bottomBar {
    height: calc(100vh * 152 / 1366);
  }

  .bottomBarContainer {
    top: calc(100vh - 100vh * 152 / 1366);
  }

  .slick-list {
    height: calc(142 * 100vh / 1366);
  }

  .slider-item img {
    height: calc(132 * 100vh / 1366);
    padding: calc(5 * 100vh / 1366);
  }
}
.welcome-area .main-container {
  width: 100%;
}
.welcome-area .background {
  background: no-repeat url("../img/banner-bg.jpg");
  background-size: calc(2800 * 100vh / 1012) calc(1012 * 100vh / 1012);
  background-position-y: calc(100vh * 140 / 1012);
  width: 100%;
  height: 100%;
}
.welcome-area .content {
  width: calc(1600 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 90 / 1012) 0;
}
.welcome-area .col-7 {
  -ms-flex: 0 0 57%;
  flex: 0 0 57%;
  max-width: 57%;
}
.welcome-area .core-message {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  margin-top: calc(172 * 100vh / 1012);
  font-size: calc(64 * 100vh / 1012);
  text-align: center;
  line-height: 1.25;
  letter-spacing: calc(5 * 100vh / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
.welcome-area .sub-message-container {
  margin-top: calc(-9 * 100vh / 1012);
}
.welcome-area .sub-message {
  font-size: calc(21 * 100vh / 1012);
  text-align: center;
  margin: calc(20 * 100vh / 1012) auto;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  letter-spacing: calc(1 * 100vh / 1012);
  line-height: 1.5;
}
.welcome-area .private-sale-notice {
  margin-top: calc(40 * 100vh / 1012);
}
.welcome-area .private-sale-txt {
  color: #b2d254;
  text-align: right;
  font-size: calc(54 * 100vh / 1012);
  font-weight: 400;
  margin-right: calc(-7 * 100vh / 1012);
  letter-spacing: calc(2 * 100vh / 1012);
}
.welcome-area .btn-join {
  background-color: #b2d254;
  border-radius: calc(24 * 100vh / 1012);
  padding: calc(1 * 100vh / 1012) calc(24 * 100vh / 1012);
  float: left;
  margin-top: calc(6 * 100vh / 1012);
}
.welcome-area .btn-txt {
  color: #FFFFFF;
  font-size: calc(26 * 100vh / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: calc(4 * 100vh / 1012);
}
.welcome-area h3 {
  margin: auto;
  font-size: calc(24 * 100vh / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: calc(3 * 100vh / 1012);
}
.welcome-area .row-contributor {
  margin-top: calc(-25 * 100vh / 1012);
}
.welcome-area .row-contributor .link-group {
  margin: auto;
}
.welcome-area .row-contributor .link-group a, .welcome-area .row-contributor .link-group span {
  line-height: calc(100vh * 71 / 1012);
  color: #FFFFFF;
  font-size: calc(24 * 100vh / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: calc(3 * 100vh / 1012);
}
.welcome-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.welcome-area li {
  list-style: none;
  display: inline;
}
.welcome-area li a {
  font-weight: 400;
  font-size: calc(20 * 100vh / 1012);
  font-family: "Teko", sans-serif;
  letter-spacing: calc(4 * 100vh / 1012);
}
.welcome-area .link-group-container {
  margin-top: calc(40 * 100vh / 1012);
}
.welcome-area .link-list {
  margin: auto;
  text-align: center;
}
.welcome-area .sepeartor {
  font-size: calc(24 * 100vh / 1012);
  font-weight: 300;
  color: #00b7ce;
  line-height: calc(36 * 100vh / 1012);
}
.welcome-area .link-txt {
  line-height: calc(36 * 100vh / 1012);
  height: calc(36 * 100vh / 1012);
  margin: auto;
}
.welcome-area .rating-container {
  width: calc(1200 * 100vh / 1012);
  margin: calc(40 * 100vh / 1012) auto;
}
@media (max-aspect-ratio: 1024/1366) {
  .welcome-area .header {
    padding-top: calc(100vh * 50 / 1366);
  }
  .welcome-area .background {
    background: no-repeat url("../img/bg-mobile.jpg");
    background-size: calc(1024 * 100vh / 1366) calc(1366 * 100vh / 1366);
    background-position-y: calc(100vh * 140 / 1012);
    width: 100%;
    height: 100%;
  }
  .welcome-area .core-message {
    width: calc(800 * 100vh / 1366);
    margin-top: calc(192 * 100vh / 1366);
    font-size: calc(64 * 100vh / 1366);
  }
  .welcome-area .private-sale-txt {
    font-size: calc(54 * 100vh / 1366);
    margin-right: calc(-7 * 100vh / 1366);
    letter-spacing: calc(2 * 100vh / 1366);
  }
  .welcome-area .btn-txt {
    font-size: calc(26 * 100vh / 1366);
    letter-spacing: calc(4 * 100vh / 1366);
  }
  .welcome-area .sub-message {
    font-size: calc(21 * 100vh / 1366);
    margin: calc(40 * 100vh / 1366) auto;
    width: 60vw;
  }
  .welcome-area .row-contributor .link-group a, .welcome-area .row-contributor .link-group span {
    font-size: calc(24 * 100vh / 1366);
  }
  .welcome-area .link-group-container {
    width: 60vw;
    margin: calc(10 * 100vh / 1366) auto;
  }
  .welcome-area li a {
    font-size: calc(20 * 100vh / 1366);
  }
  .welcome-area .welcome-area .rating-container {
    width: calc(400 * 100vh / 1366);
    margin: calc(20 * 100vh / 1366) auto;
  }
}
@media (max-aspect-ratio: 1600/1012) {
  .welcome-area .content {
    width: 80vw;
  }
  .welcome-area .rating-container {
    width: calc(1000 * 100vh / 1012);
    margin: calc(40 * 100vh / 1012) auto;
  }
}
@media (max-aspect-ratio: 1200/1012) {
  .welcome-area .rating-container {
    width: calc(800 * 100vh / 1012);
    margin: calc(40 * 100vh / 1012) auto;
  }
}
@media (max-aspect-ratio: 1000/1012) {
  .welcome-area .rating-container {
    width: calc(600 * 100vh / 1012);
    margin: calc(40 * 100vh / 1012) auto;
  }
}
@media (max-aspect-ratio: 800/1012) {
  .welcome-area .rating-container {
    width: calc(400 * 100vh / 1366);
    margin: calc(20 * 100vh / 1366) auto;
  }
}
@media (max-aspect-ratio: 600/1012) {
  .welcome-area .rating-container {
    width: calc(400 * 100vh / 1366);
    margin: calc(20 * 100vh / 1366) auto;
  }
}

.what-is-aen-token-area .main-container {
  width: 100%;
  margin: auto;
}
.what-is-aen-token-area .content {
  width: calc(1600 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 190 / 1012) 0 calc(100vh * 90 / 1012) 0;
  display: flex;
}
.what-is-aen-token-area .message-container {
  width: calc(100vh * 500 / 1012);
  margin-left: calc(100vh * 270 / 1012);
}
.what-is-aen-token-area h2 {
  color: #b6d84e;
  font-weight: 500;
  font-size: calc(100vh * 39 / 1012);
  letter-spacing: calc(100vh * 3 / 1012);
}
.what-is-aen-token-area h3 {
  letter-spacing: calc(100vh * 2 / 1012);
  font-weight: 500;
  font-size: calc(100vh * 35 / 1012);
  line-height: calc(100vh * 48 / 1012);
  margin-top: calc(100vh * 13 / 1012);
}
.what-is-aen-token-area h5 {
  font-size: calc(100vh * 16 / 1012);
  line-height: calc(100vh * 31 / 1012);
  color: #FFFFFF;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  margin-top: calc(100vh * 12 / 1012);
}
.what-is-aen-token-area .video-container {
  margin-left: calc(100vh * 36 / 1012);
  width: calc(100vh * 540 / 1012);
}
.what-is-aen-token-area .video-container img {
  width: 100%;
}
.what-is-aen-token-area .video {
  width: calc(100vh * 536 / 1012);
  height: calc(100vh * 378 / 1012);
}
@media (max-aspect-ratio: 1600/1012) {
  .what-is-aen-token-area .content {
    width: 80vw;
  }
  .what-is-aen-token-area .message-container {
    margin-left: 0;
    margin-top: 0;
  }
}
@media (max-aspect-ratio: 1000/1012) {
  .what-is-aen-token-area .content {
    display: block;
    text-align: center;
  }
  .what-is-aen-token-area h2 {
    text-align: center;
  }
  .what-is-aen-token-area .video-container {
    margin-left: 0;
  }
}
@media (max-aspect-ratio: 1012/1012) {
  .what-is-aen-token-area .video-container {
    width: calc(100vw * 540 / 1012);
    margin: auto;
  }
  .what-is-aen-token-area .message-container {
    margin: auto;
  }
}

.how-it-works-area .main-container {
  width: 100%;
  background-color: #0a92a4;
  margin: auto;
}
.how-it-works-area .content {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.how-it-works-area .items {
  margin: auto;
  margin-top: calc(100vh * 46 / 1012);
  flex-wrap: wrap;
  display: flex;
}
.how-it-works-area .item {
  width: calc(100vh * 340 / 1012);
  height: calc(100vh * 420 / 1012);
  position: inherit;
  text-align: center;
  margin: auto;
}
.how-it-works-area .logo {
  margin: auto;
  height: calc(100vh * 174 / 1012);
  background-repeat: no-repeat;
}
.how-it-works-area .logo-global {
  width: calc(100vh * 174 / 1012);
  background: url("../img/icon-global.png") no-repeat;
  background-size: calc(100vh * 174 / 1012) calc(100vh * 142 / 1012);
}
.how-it-works-area .logo-solution {
  width: calc(100vh * 150 / 1012);
  background: url("../img/icon-solution.png") no-repeat;
  background-size: calc(100vh * 150 / 1012) calc(100vh * 150 / 1012);
}
.how-it-works-area .logo-partner {
  width: calc(100vh * 134 / 1012);
  background: url("../img/icon-partners.png") no-repeat;
  background-size: calc(100vh * 134 / 1012) calc(100vh * 134 / 1012);
}
.how-it-works-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
}
.how-it-works-area h2, .how-it-works-area h3, .how-it-works-area h5 {
  text-align: center;
}
.how-it-works-area h3 {
  font-weight: 400;
  font-size: calc(100vh * 27 / 1012);
  letter-spacing: calc(100vh * 6 / 1012);
}
.how-it-works-area .subtitle {
  line-height: 1.3;
  letter-spacing: calc(100vh * 3 / 1012);
}
.how-it-works-area h5 {
  font-size: calc(100vh * 16 / 1012);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: calc(100vh * 1 / 1012);
  line-height: 1.6;
}
@media (max-aspect-ratio: 1600/1012) {
  .how-it-works-area .content {
    width: 80vw;
  }
}

.explore-aenco-area .main-container {
  width: 100%;
  background-color: #076f7d;
}
.explore-aenco-area .content {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.explore-aenco-area .items {
  max-width: calc(100vh * 1435 / 1012);
  margin: auto;
  margin-top: calc(100vh * 38 / 1012);
  flex-wrap: wrap;
  display: flex;
}
.explore-aenco-area .item {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: inherit;
  text-align: center;
  margin: auto;
}
.explore-aenco-area .item img {
  width: calc(100vh * 250 / 1012);
  height: calc(100vh * 162 / 1012);
  padding: calc(100vh * 10 / 1012);
  margin: auto;
}
.explore-aenco-area .video {
  width: calc(100vh * 250 / 1012);
  height: calc(100vh * 162 / 1012);
  margin: auto;
}
.explore-aenco-area .video-vision {
  background-image: url("../img/video-vison-thumb.jpg");
}
.explore-aenco-area .video-rollout {
  background-image: url("../img/video-rollout-thumb.jpg");
}
.explore-aenco-area .video-regulatory {
  background-image: url("../img/video-regulatory-thumb.jpg");
}
.explore-aenco-area .video-community {
  background-image: url("../img/video-community-thumb.jpg");
}
.explore-aenco-area h2, .explore-aenco-area h3, .explore-aenco-area h5 {
  text-align: center;
}
.explore-aenco-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
}
.explore-aenco-area h3 {
  font-size: calc(100vh * 24 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 1 / 1012);
  line-height: 1;
  margin-top: calc(100vh * 16 / 1012);
}
.explore-aenco-area .more-btn-container {
  text-align: center;
  margin-top: calc(100vh * 50 / 1012);
}
.explore-aenco-area .btn-more-videos {
  width: calc(100vh * 210 / 1012);
  height: calc(100vh * 48 / 1012);
  line-height: calc(100vh * 42 / 1012);
  font-size: calc(100vh * 22 / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  border: calc(100vh * 4 / 1012) solid #0a92a4;
  border-radius: calc(100vh * 24 / 1012);
  background-color: #076f7d;
  letter-spacing: calc(100vh * 2 / 1012);
}
@media (max-aspect-ratio: 1600/1012) {
  .explore-aenco-area .content {
    width: 80vw;
  }
}
@media (max-aspect-ratio: 1340/1012) {
  .explore-aenco-area .item {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    width: calc(80vw / 3.2);
    height: auto;
  }
}
@media (max-aspect-ratio: 1000/1012) {
  .explore-aenco-area .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: calc(80vw / 2.2);
    height: auto;
  }
}
@media (max-aspect-ratio: 660/1012) {
  .explore-aenco-area .item {
    -ms-flex: 100%;
    flex: 100%;
    width: calc(80vw);
    height: auto;
  }
}

.token-economy-area .main-container {
  width: 100%;
  background-color: #252525;
}
.token-economy-area .content {
  width: calc(1180 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.token-economy-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
}
.token-economy-area h2, .token-economy-area h3, .token-economy-area h5 {
  text-align: center;
}
.token-economy-area .circle {
  width: calc(236 * 100vh / 1012);
  height: calc(236 * 100vh / 1012);
  border: calc(8 * 100vh / 1012) solid #00b7ce;
  border-radius: calc(118 * 100vh / 1012);
  margin: auto;
}
.token-economy-area .green-circle {
  border: calc(8 * 100vh / 1012) solid #b1d34a;
}
.token-economy-area .title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(36 * 100vh / 1012);
  letter-spacing: calc(2 * 100vh / 1012);
  line-height: 1;
  margin-top: calc(64 * 100vh / 1012);
  color: #03c5dd;
}
.token-economy-area .value {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: calc(22 * 100vh / 1012);
  line-height: calc(28 * 100vh / 1012);
  margin-top: calc(10 * 100vh / 1012);
  color: #FFFFFF;
}
.token-economy-area .green-circle .title {
  color: #bae242;
  margin-top: calc(42 * 100vh / 1012);
}
.token-economy-area .row {
  margin: calc(0 * 100vh / 1012);
}
.token-economy-area .coin-info {
  display: flex;
  margin: calc(50 * 100vh / 1012) 0;
}
.token-economy-area .col {
  text-align: center;
  padding: 0;
  margin: 0 calc(5 * 100vh / 1012);
  position: inherit;
}
.token-economy-area .soft-cap {
  flex: 0 0 32%;
  max-width: 32%;
}
.token-economy-area .col-blue, .token-economy-area .col-green {
  flex: 0 0 49%;
  max-width: 49%;
}
.token-economy-area .bg-left {
  border-radius: calc(25 * 100vh / 1012) 0 0 calc(25 * 100vh / 1012);
}
.token-economy-area .bg-left h5 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(24 * 100vh / 1012);
  line-height: calc(40 * 100vh / 1012);
  color: #FFFFFF;
  letter-spacing: calc(2 * 100vh / 1012);
}
.token-economy-area .bg-right {
  border-radius: 0 calc(25 * 100vh / 1012) calc(22 * 100vh / 1012) 0;
  line-height: calc(50 * 100vh / 1012);
  padding-top: calc(3 * 100vh / 1012);
}
.token-economy-area .bg-right h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: calc(18 * 100vh / 1012);
  line-height: calc(36 * 100vh / 1012);
  color: #FFFFFF;
}
.token-economy-area .col1 {
  background-color: #00b7ce;
}
.token-economy-area .col2 {
  background-color: #0a92a4;
}
.token-economy-area .col3 {
  background-color: #8aa739;
}
.token-economy-area .col4 {
  background-color: #637c27;
}
.token-economy-area .row-text-only {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: calc(24 * 100vh / 1012);
  line-height: calc(40 * 100vh / 1012);
  letter-spacing: calc(2 * 100vh / 1012);
  color: #FFFFFF;
  margin: calc(32 * 100vh / 1012) 0 calc(2 * 100vh / 1012) 0;
}
@media (max-aspect-ratio: 1600/1012) {
  .token-economy-area .content {
    width: 80vw;
  }
}
@media (max-aspect-ratio: 1300/1012) {
  .token-economy-area .col-blue, .token-economy-area .col-green {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: calc(60 * 100vh / 1012);
  }
}
@media (max-aspect-ratio: 950/1012) {
  .token-economy-area .soft-cap {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: calc(30 * 100vh / 1012);
  }
  .token-economy-area .col-blue {
    margin-top: 0;
  }
}

.token-distribution-area .main-container {
  width: 100%;
  background-color: #0a92a4;
}
.token-distribution-area .content {
  width: calc(1180 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.token-distribution-area h2 {
  text-align: center;
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
}
.token-distribution-area .chart-title {
  margin-top: calc(100vh * 42 / 1012);
}
.token-distribution-area h3 {
  text-align: center;
  font-size: calc(100vh * 27 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 2.5 / 1012);
  line-height: 1;
}
.token-distribution-area h5 {
  text-align: center;
  font-size: calc(100vh * 14 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 1 / 1012);
  line-height: 1;
}
.token-distribution-area .col {
  text-align: center;
  position: inherit;
}
.token-distribution-area .chart-descriptions {
  width: calc(100vh * 400 / 1012);
  margin: auto;
  margin-top: calc(100vh * 32 / 1012);
}
.token-distribution-area .chart-descriptions .col {
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: calc(100vh * 14 / 1012);
}
.token-distribution-area .chart-descriptions .row {
  padding: calc(100vh * 8 / 1012);
}
.token-distribution-area .chart-descriptions .unselected {
  background-color: transparent;
}
.token-distribution-area .pie-chart {
  height: calc(100vh * 290 / 1012);
  margin-top: calc(100vh * 25 / 1012);
}
@media (max-aspect-ratio: 1600/1012) {
  .token-distribution-area .content {
    width: 80vw;
  }
}

.roadmap-area .main-container {
  padding-top: calc(100vh * 190 / 1012);
  background-color: #000000;
}
.roadmap-area .container-fluid {
  margin-top: calc(100vh * 75 / 1012);
}
.roadmap-area h2 {
  text-align: center;
  font-weight: 500;
  font-size: calc(100vh * 39 / 1012);
  letter-spacing: calc(100vh * 3 / 1012);
}

h2.timeline-title {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  color: #00b6cd;
  font-size: 35px;
}

h3.timeline-title {
  text-transform: uppercase;
  font-family: "Teko", san-serif;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
}

h6.timeline-subtitle {
  font-family: "Titillium Web", san-serif;
  font-weight: 700;
  font-size: 18px;
  color: #00b6cd;
  margin-bottom: -5px;
}

h6.timeline-smtitle {
  font-family: "Titillium Web", san-serif;
  font-weight: 700;
  font-size: 15px;
  color: #b1d349;
  margin-bottom: -5px;
}

.timeline-content {
  font-family: "Titillium Web", san-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  line-height: 23px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
  background: #000;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  display: none;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #b1d349;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #b1d349;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.ico:before {
  background: #00b6cd;
  border-bottom: 3px solid #00b6cd !important;
}

.ico2:before {
  border-top: 3px solid #00b6cd !important;
  border-bottom: 0px !important;
}

.ico:after {
  background: #00b6cd;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #b1d349;
}

.ico:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #00b6cd;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #b1d349;
  border-bottom: 3px solid #b1d349;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }

  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }

  .timeline-split .timeline-info, .timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info,
.timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }

  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }

  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }

  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }

  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
.timeline-centered .timeline-item,
.timeline-centered .timeline-info,
.timeline-centered .timeline-marker,
.timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }

  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }

  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .timeline-centered .timeline-info,
.timeline-centered .timeline-content {
    width: 50%;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }

  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }

  .timeline-centered .period .timeline-title {
    left: auto;
  }
}
/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

.team-area .team-round {
  margin-bottom: calc(100vh * 30 / 1012);
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: inherit;
}
.team-area .team-round .profile {
  margin: auto;
  -webkit-border-radius: calc(100vh * 100 / 1012);
  -moz-border-radius: calc(100vh * 100 / 1012);
  -ms-border-radius: calc(100vh * 100 / 1012);
  border-radius: calc(100vh * 100 / 1012);
  position: relative;
  text-align: center;
  padding-top: calc(100vh * 10 / 1012);
  width: calc(100vh * 220 / 1012);
  margin-bottom: calc(100vh * 18 / 1012);
}
.team-area .team-round .profile:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: calc(100vh * -89 / 1012);
  width: calc(100vh * 3 / 1012);
  height: calc(100vh * 89 / 1012);
}
.team-area .team-round .profile .img {
  width: calc(100vh * 220 / 1012);
  height: calc(100vh * 220 / 1012);
  position: relative;
  overflow: hidden;
  -webkit-border-radius: calc(100vh * 100 / 1012);
  -moz-border-radius: calc(100vh * 100 / 1012);
  -ms-border-radius: calc(100vh * 100 / 1012);
  border-radius: calc(100vh * 100 / 1012);
  margin-left: 10px;
}
.team-area .team-round .profile .img img {
  width: calc(100vh * 220 / 1012);
  height: calc(100vh * 220 / 1012);
  overflow: hidden;
  -webkit-border-radius: calc(100vh * 100 / 1012);
  -moz-border-radius: calc(100vh * 100 / 1012);
  -ms-border-radius: calc(100vh * 100 / 1012);
  border-radius: calc(100vh * 100 / 1012);
}
.team-area .team-round .profile .img .social {
  content: "";
  position: absolute;
  width: calc(100vh * 220 / 1012);
  height: calc(100vh * 220 / 1012);
  -webkit-border-radius: calc(100vh * 110 / 1012);
  -moz-border-radius: calc(100vh * 110 / 1012);
  -ms-border-radius: calc(100vh * 110 / 1012);
  border-radius: calc(100vh * 110 / 1012);
  top: 0px;
  left: calc(100vh * -220 / 1012);
  background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
  opacity: 0.83;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team-area .team-round .profile .img .social li {
  display: inline-block;
  margin-top: calc(100vh * 72 / 1012);
  margin-left: calc(100vh * -38 / 1012);
}
.team-area .team-round .profile .img .social li a {
  font-size: calc(100vh * 36 / 1012);
  color: #fff;
}
.team-area .team-round:hover .profile .img .social {
  left: 0px;
}
.team-area .main-container {
  width: 100%;
}
.team-area .content {
  width: calc(1300 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 180 / 1012) 0 calc(100vh * 80 / 1012) 0;
}
.team-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
}
.team-area h2 {
  text-align: center;
}
.team-area .team-member-list {
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  margin-top: calc(100vh * 50 / 1012);
}
.team-area .name {
  text-align: center;
  font-size: calc(100vh * 28 / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: calc(100vh * 2 / 1012);
  line-height: 1;
  margin-top: calc(100vh * 34 / 1012);
}
.team-area .title {
  text-align: center;
  font-size: calc(100vh * 15 / 1012);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: calc(100vh * 1 / 1012);
  line-height: 1;
  color: #a0a0a0;
}
.team-area .btn-more:hover {
  opacity: 0.8;
}
@media (max-aspect-ratio: 1600/1012) {
  .team-area .content {
    width: 80vw;
  }
}
@media (max-aspect-ratio: 1400/1012) {
  .team-area .team-round {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
  }
}
@media (max-aspect-ratio: 1000/1012) {
  .team-area .team-round {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}
@media (max-aspect-ratio: 600/1012) {
  .team-area .team-round {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.contact-us-area .main-container {
  width: 100%;
  background-color: #0a92a4;
  text-align: center;
}
.contact-us-area .content {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.contact-us-area .moon-contact {
  margin-top: calc(100vh * 30 / 1012);
  font-size: calc(100vh * 18 / 1012);
  font-weight: 600;
  letter-spacing: calc(100vh * 0.6 / 1012);
  font-family: "Titillium Web", sans-serif;
}
.contact-us-area .social-items {
  width: 100%;
  height: calc(100vh * 42 / 1012);
  margin-top: calc(100vh * 40 / 1012);
  margin-bottom: calc(100vh * 48 / 1012);
}
.contact-us-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 4 / 1012);
}
.contact-us-area h3 {
  font-size: calc(100vh * 29 / 1012);
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: calc(100vh * 2 / 1012);
  line-height: 1;
}
.contact-us-area h5 {
  font-size: calc(100vh * 16 / 1012);
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: calc(100vh * 0.6 / 1012);
  line-height: 1.5;
  padding-top: calc(100vh * 3 / 1012);
}
.contact-us-area .text-reg-addr {
  margin-top: calc(100vh * 30 / 1012);
}
.contact-us-area ul {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: calc(100vh * 570 / 1012);
  margin: auto;
}
.contact-us-area li {
  list-style: none;
  margin: 0 auto;
}
.contact-us-area li a {
  color: #FFFFFF;
}
.contact-us-area .fa-3x {
  font-size: calc(100vh * 38 / 1012);
}
@media (max-aspect-ratio: 1200/1012) {
  .contact-us-area .content {
    width: 80vw;
  }
}

.lang-list-item a {
  color: #FFFFFF;
}

.media-area .main-container {
  width: 100%;
  background-color: #00b7ce;
}
.media-area .content {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.media-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
  text-align: center;
}
.media-area .media-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.media-area .media-list li {
  width: calc(100vh * 270 / 1012);
  margin: auto;
  text-align: center;
  padding: calc(100vh * 20 / 1012) calc(100vh * 15 / 1012);
}
.media-area .media-list img {
  max-width: 100%;
  height: 100%;
}
@media (max-aspect-ratio: 1600/1012) {
  .media-area .content {
    width: 80vw;
  }
}

.partners-area .main-container {
  width: 100%;
  background-color: #006a7c;
}
.partners-area .content {
  width: calc(1200 * 100vh / 1012);
  margin: auto;
  padding: calc(100vh * 50 / 1012) 0;
}
.partners-area h2 {
  font-size: calc(100vh * 40 / 1012);
  font-weight: 400;
  letter-spacing: calc(100vh * 6 / 1012);
  text-align: center;
}
.partners-area .partner-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.partners-area .partner-list li {
  width: calc(100vh * 270 / 1012);
  text-align: center;
  margin: auto;
  padding: calc(100vh * 20 / 1012) calc(100vh * 15 / 1012);
}
.partners-area .partner-list img {
  max-width: 100%;
  height: 100%;
}
@media (max-aspect-ratio: 1600/1012) {
  .partners-area .content {
    width: 80vw;
  }
}

/*# sourceMappingURL=aenco.css.map */
