/**
|------------------------------------------------
| Table of Contents
|------------------------------------------------
|01. Font & Colour
|02. Mixins
|---------------------------------------------**/
/** Image location */
/** Font settings */
@import url("https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
/** Theme colour */
/** Text colour */
/** Loading gradient colours */
/** Gradient colours */
/** Heading colours */
/** @include font($normal, 16px); */
h1, h2, h3, h4, h5, h6, p, a {
  color: white; }

.section-title {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 3.8em;
  letter-spacing: 1px; }

.header-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .header-area li {
    margin-left: 35px; }
    .header-area li a {
      display: block;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      height: 36px;
      line-height: 36px;
      border: transparent; }
      .header-area li a:hover {
        color: #fff; }
      .header-area li a.btn-nav-box {
        padding-left: 25px;
        padding-right: 25px;
        border: 1px solid #FFFFFF;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        line-height: 34px;
        background: #fff;
        color: #B1D34A;
        letter-spacing: 0.5px; }
        .header-area li a.btn-nav-box:hover {
          background: none;
          color: #fff; }
  .header-area .main-nav {
    overflow: hidden; }
    .header-area .main-nav .logo {
      float: left;
      margin-top: 34px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header-area .main-nav .logo img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .header-area .main-nav .log-in {
      float: right;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      height: 36px;
      line-height: 36px;
      border: transparent; }
      .header-area .main-nav .log-in:hover {
        color: #fff; }
    .header-area .main-nav .btn-nav-line {
      float: right;
      color: #FFFFFF;
      margin-top: 34px;
      margin-left: 30px;
      padding-left: 25px;
      padding-right: 25px;
      border: 1px solid #FFFFFF;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      line-height: 34px;
      letter-spacing: 0.5px; }
      .header-area .main-nav .btn-nav-line:hover {
        background: #fff;
        color: #B1D34A; }
    .header-area .main-nav .dark-logo {
      display: none; }
    .header-area .main-nav .nav {
      float: right;
      margin-top: 30px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header-area .main-nav .menu-trigger {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 23px;
      width: 32px;
      height: 40px;
      text-indent: -9999em;
      z-index: 99;
      left: 40px;
      display: none; }
      .header-area .main-nav .menu-trigger span,
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        background-color: #3B566E;
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0; }
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        background-color: #3B566E;
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        width: 75%; }
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        content: ""; }
      .header-area .main-nav .menu-trigger span {
        top: 16px; }
        .header-area .main-nav .menu-trigger span:before {
          -moz-transform-origin: 33% 100%;
          -ms-transform-origin: 33% 100%;
          -webkit-transform-origin: 33% 100%;
          transform-origin: 33% 100%;
          top: -10px;
          z-index: 10; }
        .header-area .main-nav .menu-trigger span:after {
          -moz-transform-origin: 33% 0;
          -ms-transform-origin: 33% 0;
          -webkit-transform-origin: 33% 0;
          transform-origin: 33% 0;
          top: 10px; }
      .header-area .main-nav .menu-trigger.active span, .header-area .main-nav .menu-trigger.active span:before, .header-area .main-nav .menu-trigger.active span:after {
        background-color: transparent;
        width: 100%; }
      .header-area .main-nav .menu-trigger.active span:before {
        -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
        -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
        -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
        transform: translateY(6px) translateX(1px) rotate(45deg);
        background-color: #3B566E; }
      .header-area .main-nav .menu-trigger.active span:after {
        -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        transform: translateY(-6px) translateX(1px) rotate(-45deg);
        background-color: #3B566E; }
  .header-area.header-sticky {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
    .header-area.header-sticky .logo {
      margin-top: 26px; }
    .header-area.header-sticky .light-logo {
      display: none; }
    .header-area.header-sticky .log-in {
      margin-top: 22px !important;
      color: #3B566E; }
      .header-area.header-sticky .log-in:hover {
        color: #B1D34A; }
    .header-area.header-sticky .btn-nav-line {
      margin-top: 22px !important;
      color: #3B566E !important; }
    .header-area.header-sticky .nav {
      margin-top: 22px !important; }
      .header-area.header-sticky .nav li a {
        color: #3B566E; }
        .header-area.header-sticky .nav li a:hover {
          color: #B1D34A; }
        .header-area.header-sticky .nav li a.btn-nav-box {
          border: 1px solid #B1D34A;
          background: #B1D34A;
          color: #fff; }
          .header-area.header-sticky .nav li a.btn-nav-box:hover {
            background: none;
            color: #B1D34A; }

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    margin-left: 15px !important; } }
@media (max-width: 991px) {
  .header-area {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
    .header-area .container {
      padding: 0px; }
    .header-area .logo {
      position: absolute;
      margin-top: 22px !important;
      left: 80px; }
    .header-area .light-logo {
      display: none !important; }
    .header-area .dark-logo {
      display: block !important; }
    .header-area .menu-trigger {
      float: left;
      display: block !important; }
    .header-area .main-nav .log-in {
      margin-top: 22px !important;
      color: #3B566E; }
      .header-area .main-nav .log-in:hover {
        color: #B1D34A; }
    .header-area .main-nav .btn-nav-line {
      margin-top: 22px !important;
      margin-left: 10px !important;
      color: #3B566E !important; }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      margin-top: 80px !important;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s; }
      .header-area .main-nav .nav li {
        width: 100%;
        margin-left: 15px !important;
        background: #fff;
        margin: 0px !important;
        border-bottom: 1px solid #f5f5f5; }
        .header-area .main-nav .nav li a {
          height: 50px !important;
          line-height: 50px !important;
          padding: 0px !important;
          padding-left: 30px !important;
          border: none !important;
          background: #fff !important;
          color: #3B566E !important; }
          .header-area .main-nav .nav li a:hover {
            background: #f5f5f5 !important; } }
@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important; } }
.welcome-area .bg-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/banner-bg.jpg") no-repeat fixed 50%;
  background-size: cover; }
.welcome-area h1 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 5em;
  text-shadow: 1px 1px #000000; }
.welcome-area p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 2em;
  text-shadow: 1px 1px #000000; }
.welcome-area .btn-custom {
  border: 3px solid #0A92A4;
  border-radius: 26px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 1px;
  text-transform: uppercase; }

/* 
---------------------------------------------
token box
--------------------------------------------- 
*/
.box {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 40px;
  position: relative;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px; }
  .box:before {
    content: '';
    position: absolute;
    width: 96%;
    height: 12px;
    background: #fff;
    opacity: .59;
    bottom: -11px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    z-index: 2; }
  .box:after {
    content: '';
    position: absolute;
    width: 92%;
    height: 20px;
    background: #fff;
    opacity: .27;
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    z-index: 1; }
  .box .token .title {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.4px;
    color: #00B7CE;
    margin-bottom: 20px; }
  .box .token .countdown {
    text-align: center;
    margin-bottom: 40px; }
    .box .token .countdown li {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px; }
      .box .token .countdown li.seperator {
        border-left: 1px solid #CEE1F8;
        height: 52px;
        padding: 0px; }
      .box .token .countdown li span {
        font-weight: 300;
        font-size: 40px;
        color: #5A6066;
        letter-spacing: 3.5px; }
      .box .token .countdown li p {
        font-weight: 500;
        font-size: 12px;
        color: #BCBED4;
        text-transform: uppercase;
        margin-bottom: 0px; }
  .box .token .token-input {
    border: 1px solid #00B7CE;
    height: 46px;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    margin: auto; }
    .box .token .token-input input {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 46px;
      width: 25%;
      outline: none;
      border: none;
      padding-left: 20px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 2.07px;
      color: #5A6066; }
    .box .token .token-input .fa-plus {
      position: absolute;
      width: 10%;
      height: 24px;
      border: 1px solid #00B7CE;
      left: 25%;
      top: -1px;
      line-height: 24px;
      text-align: center;
      background: #E6EEF2;
      cursor: pointer;
      font-size: 7px;
      color: #00B7CE; }
    .box .token .token-input .fa-minus {
      position: absolute;
      width: 10%;
      height: 23px;
      border: 1px solid #00B7CE;
      left: 25%;
      top: 22px;
      line-height: 24px;
      text-align: center;
      background: #E6EEF2;
      cursor: pointer;
      font-size: 7px;
      color: #00B7CE; }
    .box .token .token-input button {
      position: absolute;
      width: 65%;
      top: 0px;
      left: 35%;
      height: 46px;
      background: none;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #00B7CE;
      cursor: pointer; }
  .box .token-progress {
    border-bottom: 1px solid #f5f5f5;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 10px; }
    .box .token-progress ul {
      position: relative;
      height: 5px;
      background: #D7DEE4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .box .token-progress ul .progress-active {
        position: absolute;
        height: 5px;
        background: #00B7CE;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        width: 0%;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding-top: 0px; }
      .box .token-progress ul li.item {
        position: absolute;
        padding-top: 27px; }
        .box .token-progress ul li.item:before {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          background: #D7DEE4;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          top: -6px; }
        .box .token-progress ul li.item:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background: #D7DEE4;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          top: -13px;
          left: -7px;
          opacity: .44; }
        .box .token-progress ul li.item.complate:before, .box .token-progress ul li.item.complate:after {
          background: #00B7CE;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .box .token-progress ul li.item.complate:hover:before, .box .token-progress ul li.item.complate:hover:after {
          transform: scale(1.2); }
        .box .token-progress ul li.item strong {
          display: block;
          font-weight: 500;
          font-size: 14px;
          color: #3B566E;
          margin-bottom: 2px;
          padding-left: 3px; }
        .box .token-progress ul li.item span {
          display: block;
          font-weight: 500;
          font-size: 12px;
          color: #BCBED4;
          padding-left: 3px; }
  .box .token-info .item {
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .box .token-info .item strong {
      float: left;
      width: 35%;
      font-weight: 400;
      font-size: 14px;
      color: #3B566E;
      letter-spacing: 1.22px;
      height: 38px;
      line-height: 38px; }
    .box .token-info .item span {
      float: left;
      width: 65%;
      font-weight: 400;
      font-size: 14px;
      color: #6F8BA4;
      letter-spacing: 1.22px;
      height: 38px;
      line-height: 38px; }
    .box .token-info .item:hover {
      padding-left: 10px; }
  .box .token-payment {
    border: 1px solid #D6D6F3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 40px 30px; }
    .box .token-payment span {
      position: absolute;
      background: #fff;
      font-weight: 400;
      font-size: 14px;
      color: #A7A7E5;
      letter-spacing: 1.24px;
      padding-left: 10px;
      padding-right: 10px;
      top: -11px;
      left: 30px; }
    .box .token-payment .radios {
      overflow: hidden;
      text-align: center;
      margin-bottom: 20px; }
      .box .token-payment .radios .form-radio {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #00B7CE;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px; }
        .box .token-payment .radios .form-radio input:checked + label {
          background: #00B7CE; }
        .box .token-payment .radios .form-radio input:checked + label i {
          color: #fff; }
        .box .token-payment .radios .form-radio label {
          background: #fff;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          cursor: pointer; }
          .box .token-payment .radios .form-radio label i {
            display: block;
            width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            color: #00B7CE;
            font-size: 14px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            letter-spacing: 0px; }
          .box .token-payment .radios .form-radio label:hover {
            background: #00B7CE; }
            .box .token-payment .radios .form-radio label:hover i {
              color: #fff; }

@media (max-width: 1200px) {
  .box .token .countdown li {
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 991px) {
  .box .token {
    overflow: hidden; }
    .box .token .countdown {
      overflow: hidden; }
      .box .token .countdown li {
        width: 50%;
        float: left;
        padding: 0px !important; }
        .box .token .countdown li.seperator {
          display: none; }
        .box .token .countdown li span {
          font-size: 30px; }
        .box .token .countdown li p {
          font-size: 12px; }
    .box .token .token-input {
      width: 100%; }
      .box .token .token-input input {
        width: 25%; }
      .box .token .token-input .fa-plus, .box .token .token-input .fa-minus {
        left: 25%; }
      .box .token .token-input button {
        font-size: 12px;
        width: 65%;
        left: 35%; }
  .box .token-info {
    margin-bottom: 30px;
    border-bottom: 1px solid #CEE1F8;
    padding-bottom: 20px; }
  .box .token-payment {
    margin: 0px;
    padding: 40px 20px; } }
.what-is-aen-token {
  background-color: #252525; }
  .what-is-aen-token h2 {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    color: #B1D34A; }
  .what-is-aen-token img {
    width: 100%;
    height: auto; }

.how-it-works {
  background-color: #0A92A4; }

.explore-aenco {
  background-color: #252525; }
  .explore-aenco img {
    width: 100%;
    height: auto; }

.roadmap {
  background-color: #252525; }

.team {
  background-color: #252525; }

.team-round {
  margin-bottom: 30px; }
  .team-round .profile {
    margin: auto;
    background: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
    width: 180px;
    height: 180px;
    position: relative;
    text-align: center;
    padding-top: 10px; }
    .team-round .profile:before {
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      bottom: -89px;
      width: 3px;
      height: 89px; }
    .team-round .profile .img {
      position: relative;
      width: 160px;
      height: 160px;
      overflow: hidden;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      margin-left: 10px; }
      .team-round .profile .img img {
        width: 160px;
        height: 160px;
        overflow: hidden;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px; }
      .team-round .profile .img .social {
        content: '';
        position: absolute;
        width: 160px;
        height: 160px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        top: 0px;
        left: -160px;
        background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
        opacity: 0.83;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .team-round .profile .img .social li {
          display: inline-block;
          margin-top: 67px;
          margin-left: 3px;
          margin-right: 3px; }
          .team-round .profile .img .social li a {
            font-size: 18px;
            color: #fff; }
  .team-round .team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3B566E; }
  .team-round span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #6F8BA4; }
  .team-round:hover .profile .img .social {
    left: 0px; }

.team-square {
  background: #fff;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
  padding: 10px; }
  .team-square .profile {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    .team-square .profile .img {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .team-square .profile .img img {
        width: 100%;
        height: 100%;
        overflow: hidden; }
      .team-square .profile .img .social {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -999px;
        background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
        opacity: 0.83;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .team-square .profile .img .social li {
          display: inline-block;
          margin-top: 40%;
          margin-left: 3px;
          margin-right: 3px; }
          .team-square .profile .img .social li a {
            font-size: 18px;
            color: #fff; }
  .team-square .team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3B566E; }
  .team-square span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #6F8BA4; }
  .team-square:hover .profile .img .social {
    bottom: 0px; }

/* 
---------------------------------------------
faq
--------------------------------------------- 
*/
.faq {
  background: #FFFFFF;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px; }
  .faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8; }
    .faq .card .card-header {
      padding: 0px;
      border: none;
      background: none;
      min-height: 70px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .faq .card .card-header:hover {
        background: #F3F8FF;
        padding-left: 10px; }
      .faq .card .card-header .faq-title {
        min-height: 70px;
        line-height: 70px;
        width: 100%;
        text-align: left;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        color: #3B566E;
        text-decoration: none !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        cursor: pointer; }
        .faq .card .card-header .faq-title .badge {
          display: inline-block;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          text-align: center;
          background: #00B7CE;
          color: #fff;
          font-size: 12px;
          margin-right: 10px; }
    .faq .card .card-body {
      padding: 30px;
      padding-left: 35px;
      padding-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      color: #6F8BA4;
      line-height: 28px;
      letter-spacing: 1px;
      border-top: 1px solid #F3F8FF; }
      .faq .card .card-body p {
        margin-bottom: 14px; }

@media (max-width: 991px) {
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px; } }
.modal-backdrop.in {
  filter: alpha(opacity=30);
  opacity: 0.7; }

.modal-video #aenco-modal-content {
  background: none;
  border: 0;
  width: 100%;
  height: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .modal-video #aenco-modal-content #aenco-modal-body {
    padding: 0 25px 25px 25px;
    margin: auto;
    width: 512px; }
.modal-video #aenco-modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right; }
.modal-video #aenco-modal-header, .modal-video #aenco-modal-footer {
  border: 0; }
.modal-video #aenco-modal-header #aenco-modal-close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1; }

/*# sourceMappingURL=aenco.css.map */
