/**
|------------------------------------------------
| Table of Contents
|------------------------------------------------
|01. Font & Colour
|02. Mixins
|---------------------------------------------**/
/** @include font($normal, 16px); */
body {
  background-color: #002d35;
  font-family: "Titillium Web", sans-serif;
  color: #FFFFFF;
}

div {
  position: relative;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  margin: auto;
}

table {
  border: none;
  border-collapse: unset;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus {
  outline: none;
}

.lang {
  color: #000000;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.ralign {
  text-align: right;
}

.lalign {
  text-align: left;
}

.calign {
  text-align: center;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  padding-top: 45px;
  background-color: rgba(0, 0, 0, 0);
}

.header-content {
  margin: auto;
}

.bottomBar {
  margin: auto;
}

.bottomBarContainer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 1px;
  background-color: #00b7ce;
  z-index: 99;
  text-align: center;
}

.bottom-bar-area {
  width: 100%;
  height: 86px;
}

.bottomBar {
  height: 86px;
  display: inline-block;
}

.main-container {
  width: 100%;
}

.margin-auto {
  margin: auto;
}

.footer {
  margin: auto;
}

.clear {
  clear: both;
}

.margin-auto {
  margin: auto;
}

h2 {
  color: #FFFFFF;
  font-size: 62px;
  font-family: "Teko", sans-serif;
}

h3 {
  font-size: 58px;
  line-height: 71px;
  color: #FFFFFF;
  font-family: "Teko", sans-serif;
}

h5 {
  font-size: 22px;
  line-height: 44px;
  color: #FFFFFF;
  font-family: "Titillium Web", sans-serif;
}

a, button {
  cursor: pointer;
}

a:hover, button:hover {
  opacity: 0.6;
}

.footer-content {
  font-size: 22px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 20px 0;
}

.company-name {
  margin-left: 57px;
}

.version {
  margin-right: 38px;
}

.menu {
  position: relative;
  margin-right: 9px;
  margin-top: 9px;
  float: right;
}

.menu ul li a {
  text-shadow: 2px 2px #252525, 2px 2px #252525, 2px 2px #252525;
}

.login-menu {
  position: relative;
  margin-right: 50px;
  margin-top: 9px;
  float: right;
}

.bottomBar ul li, .menu ul li, .login-menu ul li {
  display: inline-block;
  position: relative;
}

.mobile-menu {
  display: none;
  font-size: 48px;
  position: absolute;
  width: 90vw;
}

.mobile-menu .navbar {
  padding: 0;
}

.mobile-menu .collapse {
  width: 90vw;
  position: absolute;
  top: 40px;
  margin-left: 5vw;
}

.mobile-menu .collapsing {
  width: 90vw;
  position: absolute;
  top: 40px;
  margin-left: 5vw;
}

.mobile-menu button {
  position: absolute;
  right: 0;
  top: -50px;
}

.mobile-menu .navbar-toggler {
  padding: 0;
}

button:focus {
  outline: none;
}

.mobile-menu .menu-content {
  padding: 0 1.5rem !important;
}

.mobile-menu .list-group-item {
  color: #FFFFFF;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 6px;
  background-color: #000000;
}

.mobile-menu .list-group-item:hover {
  background-color: #252525;
  opacity: 1;
}

.mobile-menu .list-group-item:hover {
  background-color: #252525;
}

.menu ul li {
  padding: 0 15px;
}

.login-menu ul li {
  padding: 0 15px;
}

.menu ul li.group-account {
  margin: 0 7px;
}

.menu ul li.telegram {
  margin-right: 15px;
  margin-left: -6px;
}

.menu ul li.telegram a {
  vertical-align: middle;
}

.fa-3x {
  font-size: 38px;
}

.txt-signup {
  color: #00b7ce;
}

.txt-login {
  color: #b1d34a;
}

.menu ul li a {
  font-family: "Teko", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}

.login-menu ul li a {
  font-family: "Teko", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
}

.brand-logo {
  display: inline-block;
  background: url("../img/logo.png") no-repeat;
  background-size: 200px;
  width: 200px;
  height: 56px;
  margin-left: 50px;
}

.txt-join-community {
  font-family: "Teko", sans-serif;
  font-size: 49px;
  font-weight: 400;
  font-style: normal;
  margin-top: 16px;
  letter-spacing: 5px;
}

.bottomBar i {
  font-size: 48px;
}

.bottomBar ul {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 570px;
  margin: 16px auto auto 50px;
}

.bottomBar ul li {
  margin: 0 auto;
  margin-right: 34px;
}

.bottomBar nav {
  width: 50%;
}

.more-btn-container {
  text-align: center;
  margin: 50px 0;
}

.btn-more {
  width: 210px;
  height: 48px;
  line-height: 42px;
  font-size: 22px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  border: 4px solid #0a92a4;
  border-radius: 24px;
  background-color: transparent;
  letter-spacing: 2px;
}

#exampleModalLabel.modal-title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 6px;
  margin: auto;
  width: 100%;
}

.modal-dialog {
  max-width: 90vw;
}
.modal-dialog.team-member-popup {
  max-width: fit-content;
  margin-top: 20vh;
}
.modal-dialog.team-member-popup .modal-header {
  display: none;
}
.modal-dialog .close {
  font-size: 3rem;
  color: #FFFFFF;
  margin-right: -0.7rem;
  margin-top: -3rem;
}
.modal-dialog .modal-content {
  background-color: #0093a5;
  box-shadow: 0.5vw 0.5vw 0.5vw 0.1vw rgba(0, 147, 165, 0.2);
}
.modal-dialog .modal-title {
  color: #FFFFFF;
}
.modal-dialog .modal-header {
  border: 0;
  background-color: #006a7c;
  padding-bottom: 0;
}
.modal-dialog .modal-header h5 {
  color: #FFFFFF;
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  margin-left: 2vw;
}
.modal-dialog .modal-header span {
  font-family: "Flamenco", cursive;
  font-weight: 300;
  font-size: 5rem;
}

.no-langauge-bar {
  padding-top: 6%;
}

#pdfContainer {
  width: 100%;
  height: 75vh;
}

.pdf-frame {
  background-color: #0084a5;
  padding: 1%;
}

.languageSelector {
  margin-top: 3%;
  margin-bottom: 0.5%;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.video-frame {
  background-color: #0084a5;
  padding: 1%;
  margin: auto;
  width: calc(48vh * 16 / 9);
  height: 48vh;
}

.popup-video-container {
  width: 100%;
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.slick-next:before {
  content: ">";
}

.slick-prev:before {
  content: "<";
}

.slick-prev:before, .slick-next:before {
  font-family: "Flamenco", cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
  color: #00b7ce;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  display: block;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -10%;
  z-index: 80;
}

.slick-prev {
  left: -10%;
  z-index: 80;
}

.slider-item img {
  margin: auto;
}

.slick-slide {
  margin: 0 24px;
  opacity: 1;
}

@media screen and (max-width: 1240px) {
  /* start of large tablet styles */
  .mobile-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .login-menu {
    margin-right: 14vw;
  }
}
@media screen and (max-width: 991px) {
  /* start of large tablet styles */
}
@media screen and (max-width: 767px) {
  /* start of medium tablet styles */
  .login-menu {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  /* start of phone styles */
}
.welcome-area {
  position: relative;
}
.welcome-area .main-container {
  width: 100%;
}
.welcome-area .background {
  background: no-repeat center url("../img/banner-bg.jpg");
  background-position-y: 0;
}
.welcome-area .content {
  width: 1400px;
  margin: auto;
  padding: 45px;
}
.welcome-area .core-message {
  width: 1190px;
  margin: auto;
  margin-top: 172px;
  font-size: 67px;
  text-align: center;
  line-height: 1.25;
  letter-spacing: 5px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
}
.welcome-area .sub-message-container {
  margin-top: -15px;
}
.welcome-area .sub-message {
  font-size: 21px;
  text-align: center;
  margin: 20px auto;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.5;
}
.welcome-area .private-sale-notice {
  margin-top: 40px;
}
.welcome-area .private-sale-txt {
  color: #b2d254;
  text-align: right;
  font-size: 45px;
  font-weight: 400;
  margin-right: -7px;
  letter-spacing: 0.02em;
}
.welcome-area .btn-join {
  background-color: #b2d254;
  border-radius: 24px;
  padding: 8px 24px;
  margin-top: 6px;
}
.welcome-area .btn-txt {
  color: #FFFFFF;
  font-size: 26px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
}
.welcome-area h3 {
  margin: auto;
  font-size: 24px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
.welcome-area .row-contributor {
  margin-top: -25px;
}
.welcome-area .row-contributor .link-group {
  margin: auto;
}
.welcome-area .row-contributor .link-group a, .welcome-area .row-contributor .link-group span {
  line-height: 71px;
  color: #FFFFFF;
  font-size: 24px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}
.welcome-area ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.welcome-area li {
  list-style: none;
  display: inline;
}
.welcome-area li a {
  font-weight: 400;
  font-size: 20px;
  font-family: "Teko", sans-serif;
  letter-spacing: 4px;
}
.welcome-area .link-group-container {
  margin-top: 40px;
}
.welcome-area .link-list {
  margin: auto;
  text-align: center;
}
.welcome-area .sepeartor {
  font-size: 24px;
  font-weight: 300;
  color: #00b7ce;
  line-height: 36px;
  margin: 0 12px;
}
.welcome-area .link-txt {
  line-height: 36px;
  height: 36px;
  margin: auto;
}
.welcome-area .rating-container {
  width: 80%;
  margin: 65px auto;
}
.welcome-area .badge-container {
  padding: 14px 5px;
  background-color: #252525;
}
.welcome-area .txt-bonus-program {
  color: #00b7ce !important;
}
@media screen and (max-width: 1390px) {
  .welcome-area .content {
    width: 100%;
  }
  .welcome-area .core-message {
    font-size: 67px;
    line-height: 1.25;
    letter-spacing: 5px;
  }
}
@media (max-width: 1240px) {
  .welcome-area .header {
    padding-top: 50px;
  }
  .welcome-area .background {
    background-image: url("../img/bg-mobile.jpg");
  }
  .welcome-area .core-message {
    font-size: 4em;
  }
}
@media screen and (max-width: 1025px) {
  .welcome-area {
    /* start of large tablet styles */
  }
  .welcome-area .core-message {
    font-size: 3.5em;
  }
  .welcome-area .btn-join {
    margin-top: 4px;
  }
  .welcome-area .btn-txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 769px) {
  .welcome-area {
    /* start of medium tablet styles */
  }
  .welcome-area .content {
    padding-right: 45px;
    padding-left: 45px;
  }
  .welcome-area .core-message {
    font-size: 3em;
    margin-top: 172px;
  }
  .welcome-area .col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .welcome-area .private-sale-txt {
    text-align: center;
  }
  .welcome-area .row-contributor {
    margin-top: 0;
  }
}
@media screen and (max-width: 479px) {
  .welcome-area {
    /* start of phone styles */
  }
  .welcome-area .content {
    padding-right: 10px;
    padding-left: 10px;
  }
  .welcome-area .core-message {
    font-size: 2em;
    margin-top: 172px;
  }
}

.what-is-aen-token-area .main-container {
  width: 100%;
  margin: auto;
}
.what-is-aen-token-area .content {
  width: 1534px;
  margin: auto;
  padding: 97px 0;
  display: flex;
}
.what-is-aen-token-area .message-container {
  max-width: 680px;
  padding: 0 30px;
}
.what-is-aen-token-area h2 {
  color: #b6d84e;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: 3px;
  margin: 0;
}
.what-is-aen-token-area h3 {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.35;
  margin: 0;
  margin-top: 18px;
}
.what-is-aen-token-area h5 {
  font-size: 18px;
  line-height: 1.75;
  color: #FFFFFF;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  margin: 0;
  margin-top: 18px;
}
.what-is-aen-token-area .video-container {
  margin: auto;
  margin-top: 18px;
  width: 700px;
  height: 460px;
}
.what-is-aen-token-area .video-container img {
  width: 100%;
}
.what-is-aen-token-area .video {
  width: 536px;
  height: 378px;
}
@media screen and (max-width: 1600px) {
  .what-is-aen-token-area .content {
    width: 90%;
  }
  .what-is-aen-token-area .video-container {
    width: calc(100vw / 1600 * 700);
    height: calc(100vw / 1600 * 460);
  }
}
@media screen and (max-width: 769px) {
  .what-is-aen-token-area {
    /* start of medium tablet styles */
  }
  .what-is-aen-token-area .content {
    flex-wrap: wrap;
  }
}

.how-it-works-area .main-container {
  width: 100%;
  background-color: #0a92a4;
  margin: auto;
}
.how-it-works-area .content {
  max-width: 1580px;
  margin: auto;
  padding: 58px 0;
}
.how-it-works-area .items {
  margin: auto;
  margin-top: 46px;
  flex-wrap: wrap;
  display: flex;
}
.how-it-works-area .item {
  width: 420px;
  position: inherit;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px;
}
.how-it-works-area .info {
  margin-top: 39px;
}
.how-it-works-area .logo {
  margin: auto;
}
.how-it-works-area .logo-global {
  width: 219px;
  height: 180px;
  background: url("../img/icon_global.png") no-repeat;
}
.how-it-works-area .logo-solution {
  width: 180px;
  height: 180px;
  background: url("../img/icon_solution.png") no-repeat;
}
.how-it-works-area .logo-partner {
  width: 180px;
  height: 180px;
  background: url("../img/icon_partners.png") no-repeat;
}
.how-it-works-area h2 {
  font-size: 53px;
  font-weight: 400;
  letter-spacing: 4px;
}
.how-it-works-area h2, .how-it-works-area h3, .how-it-works-area h5 {
  text-align: center;
}
.how-it-works-area h3 {
  font-weight: 400;
  font-size: 40px;
}
.how-it-works-area .subtitle {
  line-height: 1.1;
  letter-spacing: 1.75px;
}
.how-it-works-area h5 {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
  margin-top: 15px;
}

.explore-aenco-area .main-container {
  width: 100%;
  background-color: #076f7d;
}
.explore-aenco-area .content {
  max-width: 1600px;
  margin: auto;
  padding: 46px 0;
}
.explore-aenco-area .items {
  margin: auto;
  margin-top: 47px;
  flex-wrap: wrap;
  display: flex;
}
.explore-aenco-area .item {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: inherit;
  text-align: center;
  margin: auto;
}
.explore-aenco-area .item img {
  width: 370px;
  height: 243px;
  margin: auto;
}
.explore-aenco-area .video {
  width: 250px;
  height: 162px;
  margin: auto;
}
.explore-aenco-area .video-vision {
  background-image: url("../img/video-vison-thumb.jpg");
}
.explore-aenco-area .video-rollout {
  background-image: url("../img/video-rollout-thumb.jpg");
}
.explore-aenco-area .video-regulatory {
  background-image: url("../img/video-regulatory-thumb.jpg");
}
.explore-aenco-area .video-community {
  background-image: url("../img/video-community-thumb.jpg");
}
.explore-aenco-area h2, .explore-aenco-area h3, .explore-aenco-area h5 {
  text-align: center;
}
.explore-aenco-area h2 {
  font-size: 53px;
  font-weight: 400;
  letter-spacing: 4px;
}
.explore-aenco-area h3 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 24px;
}
.explore-aenco-area .more-btn-container {
  text-align: center;
  margin-top: 50px;
}
.explore-aenco-area .btn-more-videos {
  width: 238px;
  height: 58px;
  line-height: 1;
  font-size: 32px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  border: 4px solid #0a92a4;
  border-radius: 29px;
  background-color: #076f7d;
  letter-spacing: 2px;
}

.token-economy-area .main-container {
  width: 100%;
  background-color: #252525;
}
.token-economy-area .content {
  width: 1600px;
  margin: auto;
  padding: 50px 0;
}
.token-economy-area td {
  padding: 3px 8px;
  width: 378px;
  text-align: center;
}
.token-economy-area h2 {
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 4px;
}
.token-economy-area h2, .token-economy-area h3, .token-economy-area h5 {
  text-align: center;
}
.token-economy-area .desc {
  max-width: 800px;
}
.token-economy-area td.lalign {
  text-align: left;
}
.token-economy-area .remark-sign {
  width: 1%;
}
.token-economy-area .remark-text {
  max-width: 98%;
}
.token-economy-area .td-table {
  padding: 0;
}
.token-economy-area .table-container {
  margin-top: -2px;
  margin-left: -2px;
}
.token-economy-area .circle {
  width: 308px;
  height: 308px;
  border: 8px solid #00b7ce;
  -webkit-border-radius: 154px;
  -moz-border-radius: 154px;
  -ms-border-radius: 154px;
  border-radius: 154px;
  margin: auto;
}
.token-economy-area .green-circle {
  border: 8px solid #b1d34a;
}
.token-economy-area .title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 49px;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 78px;
  color: #03c5dd;
}
.token-economy-area .value {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  font-size: 29px;
  margin-top: 12px;
}
.token-economy-area .green-circle .title {
  color: #bae242;
  margin-top: 51px;
  line-height: 1.15;
}
.token-economy-area .green-circle .dollar {
  margin-top: 15px;
  margin-bottom: 21px;
}
.token-economy-area .row {
  margin: 0;
  max-width: 770px;
}
.token-economy-area .coin-info {
  margin: 81px auto auto auto;
  max-width: 1224px;
}
.token-economy-area .coin-detailed-info {
  max-width: 1600px;
  margin-top: 74px;
}
.token-economy-area .col {
  text-align: center;
  padding: 0;
  margin: 0 3px 3px 0;
  position: inherit;
}
.token-economy-area .soft-cap {
  flex: 0 0 32%;
  max-width: 32%;
}
.token-economy-area .col-blue {
  max-width: 770px;
}
.token-economy-area .col-green {
  max-width: 770px;
  margin-left: 72px;
}
.token-economy-area .top-right-corner {
  border-top-right-radius: 18px;
}
.token-economy-area .top-left-corner {
  border-top-left-radius: 18px;
}
.token-economy-area .bottom-right-corner {
  border-bottom-right-radius: 18px;
}
.token-economy-area .bottom-left-corner {
  border-bottom-left-radius: 18px;
}
.token-economy-area .bg-left, .token-economy-area .left-col {
  -webkit-border-radius: 18px 0 0 18px;
  -moz-border-radius: 18px 0 0 18px;
  -ms-border-radius: 18px 0 0 18px;
  border-radius: 18px 0 0 18px;
}
.token-economy-area .bg-left h5, .token-economy-area .left-col h5 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.token-economy-area .bg-right, .token-economy-area .right-col {
  -webkit-border-radius: 0 18px 18px 0;
  -moz-border-radius: 0 18px 18px 0;
  -ms-border-radius: 0 18px 18px 0;
  border-radius: 0 18px 18px 0;
  padding-top: 3px;
}
.token-economy-area .bg-right h5, .token-economy-area .right-col h5 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}
.token-economy-area .token-detailed-info-gap {
  margin-top: 48px;
}
.token-economy-area .col1 {
  background-color: #00b7ce;
}
.token-economy-area .col2 {
  background-color: #0a92a4;
}
.token-economy-area .col3 {
  background-color: #8aa739;
}
.token-economy-area .col4 {
  background-color: #637c27;
}
.token-economy-area .row-text-only {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin: 32px 0 2px 0;
}
.token-economy-area .empty-row td {
  padding: 19px 0;
}

.token-distribution-area .main-container {
  width: 100%;
  background-color: #0a92a4;
}
.token-distribution-area .content {
  width: 1200px;
  margin: auto;
  padding: 50px 0;
}
.token-distribution-area h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 6px;
}
.token-distribution-area .chart-title {
  margin-top: 42px;
}
.token-distribution-area h3 {
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 1;
}
.token-distribution-area h5 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
}
.token-distribution-area .col {
  text-align: center;
  position: inherit;
}
.token-distribution-area .chart-descriptions {
  width: 400px;
  margin: auto;
  margin-top: 32px;
}
.token-distribution-area .chart-descriptions .col {
  text-align: left;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.token-distribution-area .chart-descriptions .row {
  padding: 8px;
}
.token-distribution-area .chart-descriptions .unselected {
  background-color: transparent;
}
.token-distribution-area .pie-chart {
  height: 290px;
  margin-top: 25px;
}

.roadmap-area .main-container {
  background-color: #000000;
}
.roadmap-area .content {
  padding: 75px 0;
}
.roadmap-area .container-fluid {
  margin-top: 48px;
}
.roadmap-area h2 {
  text-align: center;
  font-weight: 500;
  font-size: 52px;
  letter-spacing: 2.5px;
}

h2.timeline-title {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  color: #00b6cd;
  font-size: 35px;
}

h3.timeline-title {
  text-transform: uppercase;
  font-family: "Teko", san-serif;
  font-weight: 300;
  font-size: 25px;
  color: #fff;
}

h6.timeline-subtitle {
  font-family: "Titillium Web", san-serif;
  font-weight: 700;
  font-size: 18px;
  color: #00b6cd;
  margin-bottom: -5px;
}

h6.timeline-smtitle {
  font-family: "Titillium Web", san-serif;
  font-weight: 700;
  font-size: 15px;
  color: #b1d349;
  margin-bottom: -5px;
}

.timeline-content {
  font-family: "Titillium Web", san-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  line-height: 23px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}

.container-fluid .row:nth-child(even) {
  background: #000;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  display: none;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #b1d349;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #b1d349;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.ico:before {
  background: #00b6cd;
  border-bottom: 3px solid #00b6cd !important;
}

.ico2:before {
  border-top: 3px solid #00b6cd !important;
  border-bottom: 0px !important;
}

.ico:after {
  background: #00b6cd;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #b1d349;
}

.ico:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #00b6cd;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #b1d349;
  border-bottom: 3px solid #b1d349;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }

  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }

  .timeline-split .timeline-info, .timeline-centered .timeline-info,
.timeline-split .timeline-marker,
.timeline-centered .timeline-marker,
.timeline-split .timeline-content,
.timeline-centered .timeline-content,
.timeline-split .period .timeline-info,
.timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }

  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }

  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }

  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }

  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}
/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
.timeline-centered .timeline-item,
.timeline-centered .timeline-info,
.timeline-centered .timeline-marker,
.timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }

  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }

  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .timeline-centered .timeline-info,
.timeline-centered .timeline-content {
    width: 50%;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }

  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }

  .timeline-centered .period .timeline-title {
    left: auto;
  }
}
/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

.team-area .team-round {
  margin-bottom: 30px;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  position: inherit;
}
.team-area .team-round .profile {
  margin: auto;
  -webkit-border-radius: 100;
  -moz-border-radius: 100;
  -ms-border-radius: 100;
  border-radius: 100;
  position: relative;
  text-align: center;
  padding-top: 10px;
  width: 220px;
  margin-bottom: 18px;
}
.team-area .team-round .profile:before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -89px;
  width: 3px;
  height: 89px;
}
.team-area .team-round .profile .img {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  -ms-border-radius: 110px;
  border-radius: 110px;
  margin-left: 10px;
}
.team-area .team-round .profile .img img {
  width: 220px;
  height: 220px;
  overflow: hidden;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  -ms-border-radius: 110px;
  border-radius: 110px;
}
.team-area .team-round .profile .img .social {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  -ms-border-radius: 110px;
  border-radius: 110px;
  top: 0px;
  left: -220px;
  background-color: #00b7ce;
  opacity: 0.83;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.team-area .team-round .profile .img .social li {
  display: inline-block;
  margin: 82px 10px;
}
.team-area .team-round .profile .img .social li a {
  font-size: 36px;
  color: #fff;
}
.team-area .team-round:hover .profile .img .social {
  left: 0px;
}
.team-area .main-container {
  width: 100%;
}
.team-area .content {
  width: 1300px;
  margin: auto;
  padding: 180px 0 80px 0;
}
.team-area h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 6px;
}
.team-area h2 {
  text-align: center;
}
.team-area .team-member-list {
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px;
}
.team-area .name {
  text-align: center;
  font-size: 28px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  margin-top: 34px;
}
.team-area .title {
  text-align: center;
  font-size: 15px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1;
  color: #a0a0a0;
}
.team-area .btn-more:hover {
  opacity: 0.8;
}
.team-area .icon {
  width: 30px;
  height: 50px;
  text-align: center;
  float: left;
}
.team-area .icon-linkedin {
  background: center no-repeat url("../img/icon-linkedin.png");
}
.team-area .icon-profile {
  background: center no-repeat url("../img/icon-profile.png");
}

.member-info-container .member-image {
  text-align: center;
}
.member-info-container img {
  width: 110px;
  height: 110px;
}
.member-info-container .info {
  color: #FFFFFF;
  width: 600px;
  padding: 20px;
}
.member-info-container .name {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}
.member-info-container .title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}
.member-info-container .desc ul {
  list-style-type: circle;
  margin-left: 2em;
}

.contact-us-area .main-container {
  width: 100%;
  background-color: #0a92a4;
  text-align: left;
}
.contact-us-area .content {
  display: grid;
  margin: auto;
  padding: 87px 0;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-gap: 45px;
  max-width: 1520px;
}
.contact-us-area .moon-contact {
  margin-top: 16px;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
}
.contact-us-area .social-items {
  width: 100%;
  height: 42px;
  margin-top: 40px;
  margin-bottom: 48px;
}
.contact-us-area .text-reg-addr {
  margin-top: 24px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.contact-us-area .row-join-telegram {
  margin-top: 28px;
}
.contact-us-area li {
  list-style: none;
  margin: 0 auto;
}
.contact-us-area li a {
  color: #FFFFFF;
}
.contact-us-area .fa-3x {
  font-size: 38px;
}
.contact-us-area .title {
  font-family: "Teko", sans-serif;
  font-size: 35px;
  font-weight: 400;
}
.contact-us-area .footer-menu ul li {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 2px;
}
.contact-us-area .txt-registerd-address {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 24px;
}
.contact-us-area .txt-email {
  margin-left: 10px;
}
.contact-us-area .display-inline {
  display: inline-block;
}
.contact-us-area .row-sign {
  display: flex;
}
.contact-us-area .row-sign li {
  margin: 0;
}
.contact-us-area .row-sign li.seperator {
  background-color: #FFFFFF;
  width: 2px;
  height: 36px;
  margin: auto 10px;
  display: inline-block;
}

.lang-list-item a {
  color: #FFFFFF;
}

.media-area .main-container {
  width: 100%;
  background-color: #00b7ce;
}
.media-area .content {
  width: 1200px;
  margin: auto;
  padding: 56px 0;
}
.media-area h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
}
.media-area .media-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.media-area .media-list li {
  margin: auto;
  text-align: center;
  padding: 20px 15px;
}
.media-area .media-list img {
  max-width: 100%;
  height: 100%;
}

.partners-area .main-container {
  width: 100%;
  background-color: #006a7c;
}
.partners-area .content {
  width: 1200px;
  margin: auto;
  padding: 56px 0;
}
.partners-area h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
}
.partners-area .partner-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.partners-area .partner-list li {
  text-align: center;
  margin: auto;
  padding: 20px 15px;
}
.partners-area .partner-list img {
  max-width: 100%;
  height: 100%;
}

.faq-area .main-container {
  width: 100%;
  background-color: #002d35;
  margin: auto;
}
.faq-area .content {
  max-width: 1580px;
  margin: auto;
  padding: 182px 0;
}
.faq-area h2 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: #b1d249;
  font-size: 56px;
  letter-spacing: 3px;
  margin: 0;
  text-align: center;
}
.faq-area .subtitle {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
.faq-area .questions-container {
  margin: auto;
  margin-top: 72px;
  max-width: 1120px;
}
.faq-area .new-card button {
  padding: 0;
}
.faq-area .sign {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #00b7ce;
  font-size: 60px;
  width: 25px;
  margin: auto;
  float: left;
  margin-top: -18px;
}
.faq-area .btn-label {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 1px;
  margin-left: 28px;
  padding-top: 16px;
  float: left;
}
.faq-area .sign:before {
  content: "-";
}
.faq-area button.collapsed .sign:before {
  content: "+";
}
.faq-area button.collapsed .sign {
  font-size: 40px;
  margin-top: 0;
}
.faq-area .card-body {
  padding: 0 0 0 60px;
}

.challenges-opportunity-area .main-container {
  width: 100%;
}
.challenges-opportunity-area .content {
  margin: auto;
}
.challenges-opportunity-area .challenge-area {
  float: left;
  width: 50%;
  background-color: #0193a5;
}
.challenges-opportunity-area .opportunities-area {
  float: right;
  width: 50%;
  background-color: #02b7ce;
}
.challenges-opportunity-area h2 {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 54px;
  letter-spacing: 3.5px;
  text-align: center;
}
.challenges-opportunity-area .challenge-box {
  width: 786px;
  margin: auto;
  float: right;
  padding: 64px 0;
}
.challenges-opportunity-area .opportunity-box {
  width: 786px;
  margin: auto;
  float: left;
  padding: 64px 0;
}
.challenges-opportunity-area .logo {
  width: 115px;
  height: 115px;
  float: left;
}
.challenges-opportunity-area .desc {
  float: left;
  width: 330px;
  margin-left: 35px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 23px;
  letter-spacing: 1px;
}
.challenges-opportunity-area .challenge-one-logo {
  background: url("../img/challenges-1.png") no-repeat;
  width: 92px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .challenge-two-logo {
  background: url("../img/challenges-2.png") no-repeat;
  width: 94px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .challenge-three-logo {
  background: url("../img/challenges-3.png") no-repeat;
  width: 54px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .challenge-four-logo {
  background: url("../img/challenges-4.png") no-repeat;
  width: 91px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .opportunity-one-logo {
  background: url("../img/opportunities-1.png") no-repeat;
  width: 92px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .opportunity-two-logo {
  background: url("../img/opportunities-2.png") no-repeat;
  width: 105px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .opportunity-three-logo {
  background: url("../img/opportunities-3.png") no-repeat;
  width: 115px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .opportunity-four-logo {
  background: url("../img/opportunities-4.png") no-repeat;
  width: 115px;
  height: 99px;
  margin: auto;
}
.challenges-opportunity-area .items {
  margin-top: 50px;
}
.challenges-opportunity-area .item {
  width: 484px;
  margin: auto;
  margin-top: 49px;
}

.ecosystem-area .main-container {
  width: 100%;
  background-color: #016e7d;
}
.ecosystem-area .content {
  width: 1600px;
  margin: auto;
  padding: 75px 0;
}
.ecosystem-area h2 {
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 3.5px;
  text-align: center;
}
.ecosystem-area .diagram {
  margin-top: 44px;
  height: 615px;
}
.ecosystem-area .diagram-border {
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  -ms-border-radius: 160px;
  border-radius: 160px;
  border: 18px solid #1c94a2;
  width: 1200px;
  height: 662px;
  position: absolute;
  top: -45px;
  left: 208px;
}
.ecosystem-area .diagram-title {
  width: 564px;
  height: 58px;
  position: absolute;
  top: -66px;
  left: 527px;
  background-color: #1c94a2;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 2;
  text-align: center;
}
.ecosystem-area .diagram-pointer {
  width: 300px;
  height: 94px;
  position: absolute;
  top: -84px;
  left: 153px;
  background-color: #FFFFFF;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 41px;
  letter-spacing: 2px;
  line-height: 2.5;
  text-align: center;
  color: #016e7d;
}
.ecosystem-area .items {
  padding: 10px 160px;
  width: 1200px;
  margin: auto;
  margin-top: 124px;
}
.ecosystem-area .item {
  padding: 32px 0px;
  border-bottom: 2px solid #FFFFFF;
}
.ecosystem-area .item .title {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 43px;
  letter-spacing: 2px;
  line-height: 1;
  float: left;
  width: 280px;
  text-align: center;
}
.ecosystem-area .item .title.title-row-one {
  margin-top: 5%;
}
.ecosystem-area .item .title.title-row-two {
  margin-top: 9%;
}
.ecosystem-area .item .title.title-row-three {
  margin-top: 1%;
}
.ecosystem-area .item .desc {
  float: left;
  margin-left: 60px;
  width: 530px;
}
.ecosystem-area .item .desc ul {
  list-style-type: circle;
}
.ecosystem-area .item .desc ul.list-row-2 {
  margin-top: 5%;
}
.ecosystem-area .item .desc li {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 1.5;
}
.ecosystem-area .no-border {
  border: none;
}

/*# sourceMappingURL=aenco.css.map */
