/* ---------------------------------------------
Table of Contents
------------------------------------------------
01. font & reset css
02. pre-loader
03. global styles
04. buttons
05. token box
06. header
07. welcome area
08. services
10. team
11. parallax
12. faq
13. footer & contact
--------------------------------------------- */
/**
 *  Theme Colouring
 */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

ul, li {
  padding: 0;
  margin: 0;
  list-style: none; }

header, nav, section, article, aside, footer, hgroup {
  display: block; }

* {
  box-sizing: border-box; }

html, body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px; }

ul {
  margin-bottom: 0px; }

/**
 *  Page Loader area styling
 */
.loading-wrapper {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%);
  background-image: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.loading {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 80px;
  height: 80px; }
  .loading img {
    position: absolute;
    width: 80px;
    height: 80px;
    -webkit-animation: loading 2s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation: loading 2s linear 0s infinite;
    animation-fill-mode: both; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(360deg); } }
@keyframes loading {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg); } }
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
::selection {
  background: #0EB8D9;
  color: #fff; }

::-moz-selection {
  background: #0EB8D9;
  color: #fff; }

.m-bottom-100 {
  margin-bottom: 100px; }

.m-bottom-60 {
  margin-bottom: 60px; }

.m-bottom-70 {
  margin-bottom: 70px; }

.m-bottom-30 {
  margin-bottom: 30px; }

.m-bottom-0 {
  margin-bottom: 0px !important; }

.section {
  padding-top: 100px;
  padding-bottom: 100px; }

.bg-bottom {
  background: url("../img/section-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }

.bg-top {
  background: url("../img/section-bg.png");
  background-position: center top;
  background-repeat: no-repeat; }

.left-heading.light .section-title {
  color: #ffffff; }
.left-heading .section-title {
  font-weight: 400;
  font-size: 30px;
  color: #3B566E;
  letter-spacing: 1.30px;
  line-height: 40px;
  margin-bottom: 20px; }

.center-heading {
  text-align: center; }
  .center-heading .section-title {
    font-weight: 400;
    font-size: 30px;
    color: #3B566E;
    letter-spacing: 1.30px;
    line-height: 40px;
    margin-bottom: 20px; }
  .center-heading.colored .section-title {
    color: #ffffff; }

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px; }
  .left-text.light {
    color: #fff; }
  .left-text p {
    margin-bottom: 30px; }
    .left-text p.dark {
      color: #3B566E; }
  .left-text ul {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.18px;
    margin-bottom: 30px; }
    .left-text ul li {
      height: 32px;
      line-height: 32px;
      position: relative;
      padding-left: 30px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .left-text ul li:before {
        position: absolute;
        left: 0px;
        content: "\f178";
        font-family: "Font Awesome 5 Free";
        height: 38px;
        line-height: 38px; }
      .left-text ul li:hover {
        padding-left: 40px; }

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px; }
  .center-text.colored {
    color: #fff; }
  .center-text p {
    margin-bottom: 30px; }

.gradient {
  background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
  position: relative; }
  .gradient:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/section-bg-top.png") center top no-repeat;
    top: 0px;
    left: 0px; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden; }

  .mobile-bottom-fix {
    margin-bottom: 60px; } }
/* 
---------------------------------------------
buttons
--------------------------------------------- 
*/
.btn-secondary-box {
  display: inline-block;
  height: 46px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #01405F;
  background: #01405F;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-left: 30px;
  padding-right: 30px;
  outline: none !important;
  cursor: pointer; }
  .btn-secondary-box:hover {
    border: 1px solid #fff;
    background: none;
    color: #fff; }

.btn-secondary-line {
  display: inline-block;
  height: 46px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #01405F;
  font-weight: 500;
  font-size: 14px;
  color: #01405F;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-left: 30px;
  padding-right: 30px;
  outline: none !important;
  cursor: pointer; }
  .btn-secondary-line:hover {
    background: #01405F;
    color: #fff; }

.btn-primary-line {
  width: 100%;
  display: inline-block;
  height: 46px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #0EB8D9;
  font-weight: 500;
  font-size: 14px;
  color: #0EB8D9;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer; }
  .btn-primary-line:hover {
    background: #0EB8D9;
    color: #fff; }

.btn-white-line {
  display: inline-block;
  height: 46px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  border: 1px solid #fff;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px; }
  .btn-white-line:hover {
    background: #fff;
    color: #3B566E; }

.app-download {
  display: inline-block;
  margin-right: 10px; }

/* 
---------------------------------------------
token box
--------------------------------------------- 
*/
.box {
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 40px;
  position: relative;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px; }
  .box:before {
    content: '';
    position: absolute;
    width: 96%;
    height: 12px;
    background: #fff;
    opacity: .59;
    bottom: -11px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    z-index: 2; }
  .box:after {
    content: '';
    position: absolute;
    width: 92%;
    height: 20px;
    background: #fff;
    opacity: .27;
    bottom: -20px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 0px 0px 4px 4px;
    z-index: 1; }
  .box .token .title {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.4px;
    color: #0EB8D9;
    margin-bottom: 20px; }
  .box .token .countdown {
    text-align: center;
    margin-bottom: 40px; }
    .box .token .countdown li {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px; }
      .box .token .countdown li.seperator {
        border-left: 1px solid #CEE1F8;
        height: 52px;
        padding: 0px; }
      .box .token .countdown li span {
        font-weight: 300;
        font-size: 40px;
        color: #5A6066;
        letter-spacing: 3.5px; }
      .box .token .countdown li p {
        font-weight: 500;
        font-size: 12px;
        color: #BCBED4;
        text-transform: uppercase;
        margin-bottom: 0px; }
  .box .token .token-input {
    border: 1px solid #0EB8D9;
    height: 46px;
    overflow: hidden;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    position: relative;
    margin: auto; }
    .box .token .token-input input {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 46px;
      width: 25%;
      outline: none;
      border: none;
      padding-left: 20px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 2.07px;
      color: #5A6066; }
    .box .token .token-input .fa-plus {
      position: absolute;
      width: 10%;
      height: 24px;
      border: 1px solid #0EB8D9;
      left: 25%;
      top: -1px;
      line-height: 24px;
      text-align: center;
      background: #E6EEF2;
      cursor: pointer;
      font-size: 7px;
      color: #0EB8D9; }
    .box .token .token-input .fa-minus {
      position: absolute;
      width: 10%;
      height: 23px;
      border: 1px solid #0EB8D9;
      left: 25%;
      top: 22px;
      line-height: 24px;
      text-align: center;
      background: #E6EEF2;
      cursor: pointer;
      font-size: 7px;
      color: #0EB8D9; }
    .box .token .token-input button {
      position: absolute;
      width: 65%;
      top: 0px;
      left: 35%;
      height: 46px;
      background: none;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #0EB8D9;
      cursor: pointer; }
  .box .token-progress {
    border-bottom: 1px solid #f5f5f5;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 10px; }
    .box .token-progress ul {
      position: relative;
      height: 5px;
      background: #D7DEE4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      .box .token-progress ul .progress-active {
        position: absolute;
        height: 5px;
        background: #0EB8D9;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        width: 0%;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        padding-top: 0px; }
      .box .token-progress ul li.item {
        position: absolute;
        padding-top: 27px; }
        .box .token-progress ul li.item:before {
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          background: #D7DEE4;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          top: -6px; }
        .box .token-progress ul li.item:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 30px;
          background: #D7DEE4;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          top: -13px;
          left: -7px;
          opacity: .44; }
        .box .token-progress ul li.item.complate:before, .box .token-progress ul li.item.complate:after {
          background: #0EB8D9;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .box .token-progress ul li.item.complate:hover:before, .box .token-progress ul li.item.complate:hover:after {
          transform: scale(1.2); }
        .box .token-progress ul li.item strong {
          display: block;
          font-weight: 500;
          font-size: 14px;
          color: #3B566E;
          margin-bottom: 2px;
          padding-left: 3px; }
        .box .token-progress ul li.item span {
          display: block;
          font-weight: 500;
          font-size: 12px;
          color: #BCBED4;
          padding-left: 3px; }
  .box .token-info .item {
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .box .token-info .item strong {
      float: left;
      width: 35%;
      font-weight: 400;
      font-size: 14px;
      color: #3B566E;
      letter-spacing: 1.22px;
      height: 38px;
      line-height: 38px; }
    .box .token-info .item span {
      float: left;
      width: 65%;
      font-weight: 400;
      font-size: 14px;
      color: #6F8BA4;
      letter-spacing: 1.22px;
      height: 38px;
      line-height: 38px; }
    .box .token-info .item:hover {
      padding-left: 10px; }
  .box .token-payment {
    border: 1px solid #D6D6F3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding: 40px 30px; }
    .box .token-payment span {
      position: absolute;
      background: #fff;
      font-weight: 400;
      font-size: 14px;
      color: #A7A7E5;
      letter-spacing: 1.24px;
      padding-left: 10px;
      padding-right: 10px;
      top: -11px;
      left: 30px; }
    .box .token-payment .radios {
      overflow: hidden;
      text-align: center;
      margin-bottom: 20px; }
      .box .token-payment .radios .form-radio {
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid #0EB8D9;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 5px;
        margin-left: 5px; }
        .box .token-payment .radios .form-radio input:checked + label {
          background: #0EB8D9; }
        .box .token-payment .radios .form-radio input:checked + label i {
          color: #fff; }
        .box .token-payment .radios .form-radio label {
          background: #fff;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          cursor: pointer; }
          .box .token-payment .radios .form-radio label i {
            display: block;
            width: 32px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            color: #0EB8D9;
            font-size: 14px;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            letter-spacing: 0px; }
          .box .token-payment .radios .form-radio label:hover {
            background: #0EB8D9; }
            .box .token-payment .radios .form-radio label:hover i {
              color: #fff; }

@media (max-width: 1200px) {
  .box .token .countdown li {
    padding-left: 10px;
    padding-right: 10px; } }
@media (max-width: 991px) {
  .box .token {
    overflow: hidden; }
    .box .token .countdown {
      overflow: hidden; }
      .box .token .countdown li {
        width: 50%;
        float: left;
        padding: 0px !important; }
        .box .token .countdown li.seperator {
          display: none; }
        .box .token .countdown li span {
          font-size: 30px; }
        .box .token .countdown li p {
          font-size: 12px; }
    .box .token .token-input {
      width: 100%; }
      .box .token .token-input input {
        width: 25%; }
      .box .token .token-input .fa-plus, .box .token .token-input .fa-minus {
        left: 25%; }
      .box .token .token-input button {
        font-size: 12px;
        width: 65%;
        left: 35%; }
  .box .token-info {
    margin-bottom: 30px;
    border-bottom: 1px solid #CEE1F8;
    padding-bottom: 20px; }
  .box .token-payment {
    margin: 0px;
    padding: 40px 20px; } }
/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .header-area .main-nav {
    overflow: hidden; }
    .header-area .main-nav .logo {
      float: left;
      margin-top: 34px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header-area .main-nav .logo img {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .header-area .main-nav .log-in {
      float: right;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      height: 36px;
      line-height: 36px;
      border: transparent; }
      .header-area .main-nav .log-in:hover {
        color: #fff; }
    .header-area .main-nav .btn-nav-line {
      float: right;
      color: #FFFFFF;
      margin-top: 34px;
      margin-left: 30px;
      padding-left: 25px;
      padding-right: 25px;
      border: 1px solid #FFFFFF;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      line-height: 34px;
      letter-spacing: 0.5px; }
      .header-area .main-nav .btn-nav-line:hover {
        background: #fff;
        color: #01405F; }
    .header-area .main-nav .dark-logo {
      display: none; }
    .header-area .main-nav .nav {
      float: right;
      margin-top: 30px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header-area .main-nav .nav li {
        margin-left: 35px; }
        .header-area .main-nav .nav li a {
          display: block;
          font-weight: 600;
          font-size: 14px;
          color: #FFFFFF;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          height: 36px;
          line-height: 36px;
          border: transparent; }
          .header-area .main-nav .nav li a:hover {
            color: #fff; }
          .header-area .main-nav .nav li a.btn-nav-box {
            padding-left: 25px;
            padding-right: 25px;
            border: 1px solid #FFFFFF;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            border-radius: 100px;
            line-height: 34px;
            background: #fff;
            color: #01405F;
            letter-spacing: 0.5px; }
            .header-area .main-nav .nav li a.btn-nav-box:hover {
              background: none;
              color: #fff; }
    .header-area .main-nav .menu-trigger {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 23px;
      width: 32px;
      height: 40px;
      text-indent: -9999em;
      z-index: 99;
      left: 40px;
      display: none; }
      .header-area .main-nav .menu-trigger span,
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        background-color: #3B566E;
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0; }
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        background-color: #3B566E;
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        width: 75%; }
      .header-area .main-nav .menu-trigger span:before,
      .header-area .main-nav .menu-trigger span:after {
        content: ""; }
      .header-area .main-nav .menu-trigger span {
        top: 16px; }
        .header-area .main-nav .menu-trigger span:before {
          -moz-transform-origin: 33% 100%;
          -ms-transform-origin: 33% 100%;
          -webkit-transform-origin: 33% 100%;
          transform-origin: 33% 100%;
          top: -10px;
          z-index: 10; }
        .header-area .main-nav .menu-trigger span:after {
          -moz-transform-origin: 33% 0;
          -ms-transform-origin: 33% 0;
          -webkit-transform-origin: 33% 0;
          transform-origin: 33% 0;
          top: 10px; }
      .header-area .main-nav .menu-trigger.active span, .header-area .main-nav .menu-trigger.active span:before, .header-area .main-nav .menu-trigger.active span:after {
        background-color: transparent;
        width: 100%; }
      .header-area .main-nav .menu-trigger.active span:before {
        -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
        -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
        -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
        transform: translateY(6px) translateX(1px) rotate(45deg);
        background-color: #3B566E; }
      .header-area .main-nav .menu-trigger.active span:after {
        -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
        transform: translateY(-6px) translateX(1px) rotate(-45deg);
        background-color: #3B566E; }
  .header-area.header-sticky {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
    .header-area.header-sticky .logo {
      margin-top: 26px; }
    .header-area.header-sticky .light-logo {
      display: none; }
    .header-area.header-sticky .log-in {
      margin-top: 22px !important;
      color: #3B566E; }
      .header-area.header-sticky .log-in:hover {
        color: #01405F; }
    .header-area.header-sticky .btn-nav-line {
      margin-top: 22px !important;
      color: #3B566E !important; }
    .header-area.header-sticky .nav {
      margin-top: 22px !important; }
      .header-area.header-sticky .nav li a {
        color: #3B566E; }
        .header-area.header-sticky .nav li a:hover {
          color: #01405F; }
        .header-area.header-sticky .nav li a.btn-nav-box {
          border: 1px solid #01405F;
          background: #01405F;
          color: #fff; }
          .header-area.header-sticky .nav li a.btn-nav-box:hover {
            background: none;
            color: #01405F; }

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    margin-left: 15px !important; } }
@media (max-width: 991px) {
  .header-area {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06); }
    .header-area .container {
      padding: 0px; }
    .header-area .logo {
      position: absolute;
      margin-top: 22px !important;
      left: 80px; }
    .header-area .light-logo {
      display: none !important; }
    .header-area .dark-logo {
      display: block !important; }
    .header-area .menu-trigger {
      float: left;
      display: block !important; }
    .header-area .main-nav .log-in {
      margin-top: 22px !important;
      color: #3B566E; }
      .header-area .main-nav .log-in:hover {
        color: #01405F; }
    .header-area .main-nav .btn-nav-line {
      margin-top: 22px !important;
      margin-left: 10px !important;
      color: #3B566E !important; }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      margin-top: 80px !important;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s; }
      .header-area .main-nav .nav li {
        width: 100%;
        margin-left: 15px !important;
        background: #fff;
        margin: 0px !important;
        border-bottom: 1px solid #f5f5f5; }
        .header-area .main-nav .nav li a {
          height: 50px !important;
          line-height: 50px !important;
          padding: 0px !important;
          padding-left: 30px !important;
          border: none !important;
          background: #fff !important;
          color: #3B566E !important; }
          .header-area .main-nav .nav li a:hover {
            background: #f5f5f5 !important; } }
@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important; } }
/**
 *  Welcome area styling
 */
.welcome-area {
  min-height: 620px;
  position: relative; }
  .welcome-area.bg-top-right:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url("../img/blue-background.png") no-repeat;
    z-index: 3; }
  .welcome-area.bg-bottom-center:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: url("../img/section-bg-bottom.png") bottom center no-repeat;
    z-index: 3; }
  .welcome-area:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
    z-index: 2; }
  .welcome-area canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 4; }
  .welcome-area .header-token {
    position: absolute;
    width: 100%;
    top: 65.5%;
    left: 0;
    z-index: 5;
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%); }
    .welcome-area .header-token.basic {
      top: 62%; }
    .welcome-area .header-token.text {
      top: 60%; }
    .welcome-area .header-token .box {
      margin-top: 20px; }
    .welcome-area .header-token h1 {
      font-weight: 400;
      font-size: 36px;
      color: #FFFFFF;
      line-height: 46px;
      letter-spacing: 0.7px;
      margin-bottom: 30px;
      text-align: center; }
    .welcome-area .header-token .aenco-document-link {
      margin-left: auto;
      margin-right: auto; }
      .welcome-area .header-token .aenco-document-link .btn-secondary-box {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; }
    .welcome-area .header-token .aenco-video-launcher {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }
    .welcome-area .header-token p {
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 40px;
      text-align: center; }
  .welcome-area .scroll-to {
    position: absolute;
    width: 100%;
    bottom: -30px;
    z-index: 6;
    text-align: center; }
    .welcome-area .scroll-to a {
      display: inline-block;
      width: 60px;
      height: 60px;
      background: #fff;
      margin: auto;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      position: relative;
      line-height: 60px;
      font-size: 24px;
      color: #0EB8D9; }
      .welcome-area .scroll-to a:before {
        content: '';
        position: absolute;
        left: -10px;
        top: -10px;
        width: 80px;
        height: 80px;
        background: #0EB8D9;
        opacity: .19;
        z-index: -1;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.7);
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .welcome-area .scroll-to a:hover:before {
        width: 90px;
        height: 90px;
        left: -15px;
        top: -15px; }

@media (max-width: 991px) {
  .welcome-area .header-token {
    position: relative;
    -webkit-transform: translateY(0%) !important;
    transform: translateY(0%) !important;
    padding-top: 150px; }
    .welcome-area .header-token .box {
      margin-top: 90px;
      margin-bottom: 100px; }
    .welcome-area .header-token .btn-secondary-box {
      display: block; }
  .welcome-area .header-image {
    margin-top: 60px;
    margin-bottom: 90px; } }
/* 
---------------------------------------------
services
--------------------------------------------- 
*/
.features-elliptical {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .features-elliptical.elliptical-bottom {
    position: relative; }
    .features-elliptical.elliptical-bottom:after {
      content: '';
      position: absolute;
      width: 70%;
      height: 32px;
      top: 70px;
      left: 70%;
      background: url("../img/elliptical-bottom.png") center center no-repeat;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .features-elliptical.elliptical-top {
    position: relative; }
    .features-elliptical.elliptical-top:after {
      content: '';
      position: absolute;
      width: 70%;
      height: 32px;
      top: 0px;
      left: 70%;
      background: url("../img/elliptical-top.png") center center no-repeat;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .features-elliptical .icon {
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    border: 2px dashed #6F8BA4;
    margin-bottom: 36px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .features-elliptical .icon i {
      display: block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      color: #6F8BA4;
      font-size: 50px; }
  .features-elliptical .features-title {
    font-weight: 400;
    font-size: 18px;
    color: #3B566E;
    letter-spacing: 1.12px;
    margin-bottom: 20px; }
  .features-elliptical p {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  .features-elliptical:hover {
    margin-top: -20px;
    padding-bottom: 20px; }
    .features-elliptical:hover.elliptical-bottom:after {
      top: 90px; }
    .features-elliptical:hover.elliptical-top:after {
      top: 20px; }

.features-line {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .features-line.line {
    position: relative; }
    .features-line.line:after {
      content: '';
      position: absolute;
      width: 70%;
      height: 2px;
      top: 50px;
      left: 70%;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      border: 1px dashed #0EB8D9; }
  .features-line .icon {
    width: 100px;
    height: 100px;
    margin: auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 36px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #0EB8D9; }
    .features-line .icon i {
      display: block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      color: #fff;
      font-size: 40px; }
  .features-line .features-title {
    font-weight: 400;
    font-size: 18px;
    color: #3B566E;
    letter-spacing: 1.12px;
    margin-bottom: 20px; }
  .features-line p {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px; }
  .features-line:hover {
    margin-top: -20px;
    padding-bottom: 20px; }
    .features-line:hover:after {
      top: 70px; }

.features-bordered {
  border: 1px solid #CEE1F8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  margin-bottom: 30px; }
  .features-bordered:hover {
    border: 1px solid #0EB8D9; }
  .features-bordered .icon {
    margin-bottom: 25px; }
  .features-bordered .features-title {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1.12px;
    color: #3B566E;
    line-height: 28px;
    margin-bottom: 22px; }
  .features-bordered p {
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 10px; }
  .features-bordered a {
    float: right;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.88px;
    color: #6F8BA4;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .features-bordered a i {
      margin-left: 3px; }
    .features-bordered a:hover {
      color: #01405F; }

.features-shadow {
  padding: 30px 20px;
  text-align: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .features-shadow .icon {
    margin-bottom: 20px; }
    .features-shadow .icon i {
      color: #6F8BA4;
      font-size: 30px;
      color: #01405F; }
  .features-shadow .features-title {
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 1.12px;
    margin-bottom: 20px;
    line-height: 26px; }
  .features-shadow p {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    line-height: 26px;
    letter-spacing: 1px; }
  .features-shadow:hover {
    background: #FFFFFF;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    transform: scale(1.1); }

@media (max-width: 991px) {
  .features-elliptical {
    padding: 0px; }
    .features-elliptical:after {
      display: none; }

  .features-line:after {
    display: none; } }
/* 
---------------------------------------------
team
--------------------------------------------- 
*/
.team-round {
  margin-bottom: 30px; }
  .team-round .profile {
    margin: auto;
    background: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
    width: 180px;
    height: 180px;
    position: relative;
    text-align: center;
    padding-top: 10px; }
    .team-round .profile:before {
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      margin: auto;
      bottom: -89px;
      width: 3px;
      height: 89px; }
    .team-round .profile .img {
      position: relative;
      width: 160px;
      height: 160px;
      overflow: hidden;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px;
      margin-left: 10px; }
      .team-round .profile .img img {
        width: 160px;
        height: 160px;
        overflow: hidden;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px; }
      .team-round .profile .img .social {
        content: '';
        position: absolute;
        width: 160px;
        height: 160px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        top: 0px;
        left: -160px;
        background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
        opacity: 0.83;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .team-round .profile .img .social li {
          display: inline-block;
          margin-top: 67px;
          margin-left: 3px;
          margin-right: 3px; }
          .team-round .profile .img .social li a {
            font-size: 18px;
            color: #fff; }
  .team-round .team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3B566E; }
  .team-round span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #6F8BA4; }
  .team-round:hover .profile .img .social {
    left: 0px; }

.team-square {
  background: #fff;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
  padding: 10px; }
  .team-square .profile {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }
    .team-square .profile .img {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .team-square .profile .img img {
        width: 100%;
        height: 100%;
        overflow: hidden; }
      .team-square .profile .img .social {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -999px;
        background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
        opacity: 0.83;
        text-align: center;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        .team-square .profile .img .social li {
          display: inline-block;
          margin-top: 40%;
          margin-left: 3px;
          margin-right: 3px; }
          .team-square .profile .img .social li a {
            font-size: 18px;
            color: #fff; }
  .team-square .team-name {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #3B566E; }
  .team-square span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    color: #6F8BA4; }
  .team-square:hover .profile .img .social {
    bottom: 0px; }

/* 
---------------------------------------------
parallax
--------------------------------------------- 
*/
.parallax {
  min-height: 440px;
  position: relative;
  overflow: hidden; }
  .parallax:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.77;
    background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%); }
  .parallax .parallax-content {
    min-height: 440px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 3;
    text-align: center; }
    .parallax .parallax-content .section-title {
      font-weight: 400;
      font-size: 30px;
      color: #fff;
      text-align: center;
      line-height: 46px;
      letter-spacing: 1.29px;
      margin-top: 100px;
      margin-bottom: 30px; }
    .parallax .parallax-content p {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      line-height: 26px;
      letter-spacing: 1px;
      margin-bottom: 50px; }

/* 
---------------------------------------------
faq
--------------------------------------------- 
*/
.faq {
  background: #FFFFFF;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px; }
  .faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8; }
    .faq .card .card-header {
      padding: 0px;
      border: none;
      background: none;
      min-height: 70px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .faq .card .card-header:hover {
        background: #F3F8FF;
        padding-left: 10px; }
      .faq .card .card-header .faq-title {
        min-height: 70px;
        line-height: 70px;
        width: 100%;
        text-align: left;
        padding: 0px;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        color: #3B566E;
        text-decoration: none !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        cursor: pointer; }
        .faq .card .card-header .faq-title .badge {
          display: inline-block;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
          text-align: center;
          background: #0EB8D9;
          color: #fff;
          font-size: 12px;
          margin-right: 10px; }
    .faq .card .card-body {
      padding: 30px;
      padding-left: 35px;
      padding-bottom: 16px;
      font-weight: 400;
      font-size: 16px;
      color: #6F8BA4;
      line-height: 28px;
      letter-spacing: 1px;
      border-top: 1px solid #F3F8FF; }
      .faq .card .card-body p {
        margin-bottom: 14px; }

@media (max-width: 991px) {
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px; } }
/* 
---------------------------------------------
footer & contact
--------------------------------------------- 
*/
footer {
  padding-top: 50px; }
  footer .footer-top {
    background: #F7F9FB;
    padding-top: 20px;
    padding-bottom: 40px; }
    footer .footer-top contact {
      margin-top: 90px; }
    footer .footer-top .contact-info .section-title {
      font-weight: 500;
      font-size: 16px;
      color: #3B566E;
      letter-spacing: 0.77px;
      line-height: 46px;
      margin-bottom: 10px; }
    footer .footer-top .contact-info p {
      font-weight: 400;
      font-size: 16px;
      color: #6F8BA4;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 20px; }
    footer .footer-top .contact-info ul.list li {
      overflow: hidden; }
      footer .footer-top .contact-info ul.list li i {
        float: left;
        height: 40px;
        line-height: 40px;
        width: 30px;
        font-size: 16px;
        color: #0EB8D9; }
      footer .footer-top .contact-info ul.list li a, footer .footer-top .contact-info ul.list li span {
        float: left;
        margin-right: 10px;
        height: 40px;
        line-height: 40px;
        font-weight: 400;
        font-size: 16px;
        color: #3B566E;
        letter-spacing: 0.69px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        footer .footer-top .contact-info ul.list li a:hover, footer .footer-top .contact-info ul.list li span:hover {
          padding-left: 10px; }
    footer .footer-top .contact-info .social {
      float: left;
      margin-top: 20px; }
      footer .footer-top .contact-info .social li {
        float: left;
        margin-right: 15px; }
        footer .footer-top .contact-info .social li a {
          font-size: 22px;
          color: #0EB8D9;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
    footer .footer-top .contact-form {
      background: #FFFFFF;
      box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      padding: 40px;
      margin-top: 10px;
      position: relative;
      z-index: 2; }
      footer .footer-top .contact-form .section-title {
        font-weight: 500;
        font-size: 18px;
        color: #3B566E;
        letter-spacing: 0.77px;
        margin-bottom: 30px; }
      footer .footer-top .contact-form .btn-secondary-box {
        width: 100%; }
        footer .footer-top .contact-form .btn-secondary-box:hover {
          border: 1px solid #01405F;
          color: #01405F; }
      footer .footer-top .contact-form .form-element input, footer .footer-top .contact-form .form-element textarea {
        width: 100%;
        height: 46px;
        border: 1px solid #CEE1F8;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        outline: none;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 24px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
        footer .footer-top .contact-form .form-element input:focus, footer .footer-top .contact-form .form-element textarea:focus {
          padding-left: 30px;
          border: 1px solid #0EB8D9; }
      footer .footer-top .contact-form .form-element textarea {
        height: 120px;
        padding: 20px;
        resize: none; }
  footer .footer-bottom {
    padding-top: 80px;
    background-image: linear-gradient(134deg, #0EB8D9 0%, #2CDDC9 100%);
    position: relative; }
    footer .footer-bottom .legal-link {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px; }
      footer .footer-bottom .legal-link li {
        display: inline;
        float: left;
        margin-left: 10px; }
        footer .footer-bottom .legal-link li a {
          color: #F3F8FF; }
          footer .footer-bottom .legal-link li a:hover {
            text-decoration: underline !important; }
    footer .footer-bottom.slim {
      padding-top: 20px; }
      footer .footer-bottom.slim .copyright {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px; }
    footer .footer-bottom:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../img/section-bg-bottom.png") center bottom no-repeat;
      top: 0px;
      left: 0px; }
    footer .footer-bottom .copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #F3F8FF;
      letter-spacing: 1.7px;
      text-align: left;
      margin-bottom: 50px; }
    footer .footer-bottom .version {
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      color: #F3F8FF;
      letter-spacing: 1.7px;
      text-align: left;
      margin-bottom: 50px; }

@media (max-width: 991px) {
  footer .footer-top {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px; }
    footer .footer-top .contact {
      margin-top: 0px; }
  footer .footer-bottom {
    padding-top: 40px; }
    footer .footer-bottom .copyright {
      margin: 0px;
      margin-bottom: 30px;
      text-align: center; } }
#generation-rollout img {
  max-width: 100%;
  height: auto;
  width: auto; }
#generation-rollout .first-generation {
  margin-bottom: 10px; }
  #generation-rollout .first-generation h3 {
    color: #71de15; }
  #generation-rollout .first-generation li {
    margin-bottom: 10px; }
#generation-rollout .second-generation {
  margin-bottom: 10px; }
  #generation-rollout .second-generation h3 {
    color: #00c48f; }
  #generation-rollout .second-generation li {
    margin-bottom: 10px; }
#generation-rollout .third-generation {
  margin-bottom: 10px; }
  #generation-rollout .third-generation h3 {
    color: #1496b7; }
  #generation-rollout .third-generation li {
    margin-bottom: 10px; }

#legal-framework img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

#ecosystem img {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
#ecosystem #three-pillars {
  margin-top: 30px; }
  #ecosystem #three-pillars img {
    display: block;
    margin: auto; }
#ecosystem .aenco-ib-solutions {
  margin-bottom: 20px; }
  #ecosystem .aenco-ib-solutions h3 {
    color: #b2d254; }
  #ecosystem .aenco-ib-solutions li {
    margin-bottom: 10px; }
#ecosystem .aenco-prime-solutions {
  margin-bottom: 20px; }
  #ecosystem .aenco-prime-solutions h3 {
    color: #23d3b5; }
  #ecosystem .aenco-prime-solutions li {
    margin-bottom: 10px; }
#ecosystem .aenco-smartcap-solutions {
  margin-bottom: 20px; }
  #ecosystem .aenco-smartcap-solutions h3 {
    color: #147ce5; }
  #ecosystem .aenco-smartcap-solutions li {
    margin-bottom: 10px; }

#benefit {
  margin-top: 30px;
  margin-bottom: 30px; }
  #benefit img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; }

#opportunity .aenco-video-col .aenco-video {
  height: 340px; }
#opportunity .aenco-video-col iframe {
  display: block;
  margin: auto;
  width: 100%; }
#opportunity .card {
  border: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #opportunity .card .card-title {
    text-align: center; }
  #opportunity .card img {
    display: block;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  #opportunity .card p {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

.modal-backdrop.in {
  filter: alpha(opacity=30);
  opacity: 0.7; }

.modal-content {
  background: none;
  border: 0;
  width: 100%;
  height: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .modal-content .modal-body {
    padding: 0 25px 25px 25px;
    margin: auto;
    width: 512px; }

.modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right; }

.modal-header, .modal-footer {
  border: 0; }

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1; }

div.tab-frame {
  background-color: white;
  width: 80%;
  height: 90%;
  margin: auto;
  border-style: solid;
  box-shadow: 5px 10px #01405F; }
  div.tab-frame .tab {
    display: none;
    padding: 5px 10px;
    clear: left; }
    div.tab-frame .tab iframe {
      display: block;
      width: 480px;
      height: 270px;
      margin: auto; }
  div.tab-frame p {
    text-align: center;
    color: black !important;
    font-size: large; }
  div.tab-frame input {
    display: none; }
  div.tab-frame label {
    display: block;
    float: left;
    padding: 5px 10px;
    cursor: pointer; }
  div.tab-frame input:checked + label {
    background: #01405F;
    color: white;
    cursor: default; }
  div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
  div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
  div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3) {
    display: block; }

/*# sourceMappingURL=green.css.map */
