#ecosystem {
  img {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #three-pillars {
    margin-top: 30px;

    img {
      display: block;
      margin: auto;
    }
  }

  .aenco-ib-solutions {
    margin-bottom: 20px;

    h3 {
      color: #b2d254;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .aenco-prime-solutions {
    margin-bottom: 20px;

    h3 {
      color: #23d3b5;
    }

    li {
      margin-bottom: 10px;
    }
  }

  .aenco-smartcap-solutions {
    margin-bottom: 20px;

    h3 {
      color: #147ce5;
    }

    li {
      margin-bottom: 10px;
    }
  }
}