body {
    background-color: #002d35;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
}
div {
    position: relative;
}
iframe{ 
    border: none;
    width: 100%;
    height: 100%;
    margin: auto;
}
table {
    border: none;
    border-collapse: unset;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a:focus {
    outline: none;
}
.lang {
    color: #000000;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.ralign {
    text-align: right;
}
.lalign {
    text-align: left;
}
.calign {
    text-align: center;
}
.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    padding-top: 45px;
    background-color: rgba(0, 0, 0, 0);
}
.header-content {
    margin: auto;
}
.bottomBar {
    margin: auto;
}
.bottomBarContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 1px;
    background-color: $color-blue;
    z-index: 99;
    text-align: center;
}
.bottom-bar-area {
    width: 100%;
    height: #{$bottom-bar-height};
}
.bottomBar {
    height: #{$bottom-bar-height};
    display: inline-block;
}
.main-container {
    width: 100%;
}
.margin-auto {
    margin: auto;
}
.footer {
    margin: auto;
}
.clear {
    clear: both;
}
.margin-auto {
    margin: auto;
}
h2 {
    color: #FFFFFF;
    font-size: 62px;
    font-family: 'Teko', sans-serif;
}
h3 {
    font-size: 58px;
    line-height: 71px;
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
}
h5 {
    font-size: 22px;
    line-height: 44px;
    color: #FFFFFF;
    font-family: "Titillium Web", sans-serif;
}
a, button {
    cursor: pointer;
}
a:hover, button:hover {
    opacity: 0.6;
}
.footer-content {
    font-size: 22px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 20px 0;
}
.company-name {
    margin-left: 57px;
}
.version {
    margin-right: 38px;
}
.menu {
    position: relative;
    margin-right: 9px;
    margin-top: 9px;
    float: right;
}
.menu ul li a {
    text-shadow: 2px 2px #252525, 2px 2px #252525, 2px 2px #252525;
}
.login-menu {
    position: relative;
    margin-right: 50px;
    margin-top: 9px;
    float: right;
}
.bottomBar ul li, .menu ul li, .login-menu ul li {
    display: inline-block;
    position: relative;
}
.mobile-menu {
    display: none;
    font-size: 48px;
    position: absolute;
    width: 90vw;
}
.mobile-menu .navbar {
    padding: 0;
}
.mobile-menu .collapse {
    width: 90vw;
    position: absolute;
    top: 40px;
    margin-left: 5vw;
}
.mobile-menu .collapsing {
    width: 90vw;
    position: absolute;
    top: 40px;
    margin-left: 5vw;
}
.mobile-menu button {
    position: absolute;
    right: 0;
    top: -50px;
}
.mobile-menu .navbar-toggler {
    padding: 0;
}
button:focus {
    outline: none;
}
.mobile-menu .menu-content {
    padding: 0 1.5rem!important;
}
.mobile-menu .list-group-item {
    color: #FFFFFF;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 6px;
    background-color: #000000;
}
.mobile-menu .list-group-item:hover {
    background-color: #252525;
    opacity: 1;
}
.mobile-menu .list-group-item:hover {
    background-color: #252525;
}
.menu ul li {
    padding: 0 15px;
}
.login-menu ul li {
    padding: 0 15px;
}
.menu ul li.group-account {
    margin: 0 7px;
}
.menu ul li.telegram {
    margin-right: 15px;
    margin-left: -6px;
}
.menu ul li.telegram a {
    vertical-align: middle;
}
.fa-3x {
    font-size: 38px;
}
.txt-signup {
    color: $color-blue;
}
.txt-login {
    color: $color-green;
}
.menu ul li a {
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}
.login-menu ul li a {
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
}
.brand-logo {
    display: inline-block;
    background: url($welcome-logo-url) no-repeat;
    background-size: 200px;
    width: 200px;
    height: 56px;
    margin-left: 50px;
}
.txt-join-community {
    font-family: "Teko", sans-serif;
    font-size: 49px;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
    letter-spacing: 5px;
}
.bottomBar i {
    font-size: 48px;
}
.bottomBar ul {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 570px;
    margin: 16px auto auto 50px;
}
.bottomBar ul li {
    margin: 0 auto;
    margin-right: 34px;
}
.bottomBar nav {
    width: 50%;
}
.more-btn-container {
    text-align: center;
    margin: 50px 0;
}
.btn-more {
    width: 210px;
    height: 48px;
    line-height: 42px;
    font-size: 22px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 4px solid #0a92a4;
    border-radius: 24px;
    background-color: transparent;
    letter-spacing: 2px;
}
#exampleModalLabel.modal-title {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 6px;
    margin: auto;
    width: 100%;
}
.modal-dialog {
    max-width: 90vw;
    &.team-member-popup {
        max-width: fit-content;
        margin-top: 20vh;
        .modal-header {
            display: none;
        }
    }
    .close {
        font-size: 3rem;
        color: #FFFFFF;
        margin-right: -0.7rem;
        margin-top: -3rem;
    }
    .modal-content {
        background-color: $color-light-blue;
        box-shadow: 0.5vw 0.5vw 0.5vw 0.1vw rgba(0, 147, 165, 0.2);
    }
    .modal-title {
        color: #FFFFFF;
    }
    .modal-header {
        border: 0;
        background-color: $color-deep-blue;
        padding-bottom: 0;
        h5 {
            color: #FFFFFF;
            font-size: 2.1rem;
            letter-spacing: 0.2rem;
            font-family: "Teko", sans-serif;
            font-weight: 400;
            margin-left: 2vw;
        }
        span {
            font-family: 'Flamenco', cursive;
            font-weight: 300;
            font-size: 5rem;
        }
    }
}
.no-langauge-bar {
    padding-top: 6%;
}
#pdfContainer {
    width: 100%;
    height: 75vh;
}
.pdf-frame {
    background-color: $color-medium-blue;
    padding: 1%;
}
.languageSelector{
    margin-top: 3%;
    margin-bottom: 0.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}
.video-frame {
    background-color: $color-medium-blue;
    padding: 1%;
    margin: auto;
    width: calc(48vh * 16 / 9);
    height: 48vh;
}
.popup-video-container {
    width: 100%;
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}
.slick-next:before {
    content: '>';
}
.slick-prev:before {
    content: '<';
}
.slick-prev:before, .slick-next:before {
    font-family: 'Flamenco', cursive;
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    color: $color-blue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    font-size: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
    right: -10%;
    z-index: 80;
}
.slick-prev {
    left: -10%;
    z-index: 80;
}
.slider-item img {
    margin: auto;
}
.slick-slide {
    margin: 0 24px;
    opacity: 1;
}
@media screen and (max-width: 1240px) {
    /* start of large tablet styles */
    .mobile-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .login-menu {
        margin-right: 14vw;
    }
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .login-menu {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */

}