.ecosystem-area {
    .main-container {
        width: 100%;
        background-color: #006e7c;
    }
    .content {
        width: 1600px;
        margin: auto;
    }
    .diagram {
        margin-top: 44px;
        height: 615px;
    }
    .diagram-border {
        width: 1200px;
        height: 684px;
        position: absolute;
        top: -100px;
        left: 200px;
        background: no-repeat center url(../img/border.png);
        background-size: 1000px;
    }
    .diagram-title {
        width: 400px;
        position: absolute;
        top: -66px;
        left: 600px;
        background-color: #0093a5;
        font-family: "Teko", sans-serif;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 1.7;
        text-align: center;
        padding: 3px 0 2px;
        box-shadow: 0px 0px 10px rgb(0, 110, 124), 0px 0px 15px rgb(0, 110, 124);
    }
    .diagram-pointer {
        width: 250px;
        height: 96px;
        position: absolute;
        top: -81px;
        left: 250px;
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.02em;
        line-height: 3.2;
        text-align: center;
        color: #0093a5;
        padding: 3px 0 2px;
        background: no-repeat center url($arrow-image);
        span {
            margin-left: -20px;
        }
    }
    .items {
        padding: 10px 160px;
        width: 1200px;
        margin: auto;
        margin-top: 124px;
    }
    .item {
        padding: 15px 20px 25px;
        border-bottom: 2px solid #FFFFFF;
        .title {
            float: left;
            width: 280px;
            text-align: center;
            &.title-row-one {
                margin-top: 30px;
            }
            &.title-row-two {
                margin-top: 12px;
            }
            &.title-row-three {
                margin-top: 1%;
            }
        }
        .desc {
            float: left;
            margin-left: 30px;
            width: 530px;
            ul {
                list-style-type: circle;
                &.list-row-1 {
                    margin-top: 7px;
                }
                &.list-row-2 {
                    margin-top: 30px;
                }
                &.list-row-3 {
                    margin-top: 21px;
                }
            }
            li h5 {
                text-align: left;
            }
        }
    }
    .no-border {
        border: none;
    }
    .challenges-opportunity-area .opportunity-box {
        padding: 60px 0 70px;
    }
    .challenges-opportunity-area .challenge-box{
        padding: 60px 0 70px;
    }
}