h1 {
    font-size: 48px;
    text-align: center;
    line-height: 55px;
    letter-spacing: 0.06em;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
}
h2 {
    color: #FFFFFF;
    font-size: 45px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
}
h3 {
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
}
h4 {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
}
h5 {
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
h6 {
    font-size: 15px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin-bottom: 0;
    line-height: 1.5;
}
.f1 {
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.f2 {
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.f3 {
    font-size: 18px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.f4 {
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.f5 {
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.f6 {
    font-size: 12px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.f7 {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.f8 {
    font-size: 11px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
}
.f10p {
    font-size: 10%;
}
.f15p {
    font-size: 15%;
}
.f20p {
    font-size: 20%;
}
.f25p {
    font-size: 25%;
}
.f30p {
    font-size: 30%;
}
.f35p {
    font-size: 35%;
}
.f40p {
    font-size: 40%;
}
.f45p {
    font-size: 45%;
}
.f50p {
    font-size: 50%;
}
.f55p {
    font-size: 55%;
}
.f60p {
    font-size: 60%;
}
.f65p {
    font-size: 65%;
}
.f70p {
    font-size: 70%;
}
.f75p {
    font-size: 75%;
}
.f80p {
    font-size: 80%;
}
.f85p {
    font-size: 85%;
}
.f90p {
    font-size: 90%;
}
.f95p {
    font-size: 95%;
}
.f100p {
    font-size: 100%;
}

.app.lang-zhcn {
    font-family: "Titillium Web", "Noto Sans SC", sans-serif;
    h1 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.01em;
    }
    h2 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 30px;
        line-height: 1.5;
    }
    h3 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 1.5;
    }
    h4 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    h5 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 18px;
        letter-spacing: 0.05em;
        line-height: 1.5;
    }
    h6 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 15px;
        letter-spacing: 0.05em;
    }
    .f1 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
    }
    .f2 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
    }
    .f3 {
        font-size: 20px;
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-weight: 300;
        letter-spacing: 0.02em;
    }
    .f4 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 17px;
    }
    .f5 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        font-size: 17px;
    }
    .f6 {
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
    }
    .f7 {
        font-size: 30px;
        font-family: "Titillium Web", "Noto Sans SC", sans-serif;
        line-height: 1.5;
    }
}

.app.lang-kr {
    font-family: "Titillium Web", "Nanum Gothic Coding", monospace;
    h1 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    h2 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    h3 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    h4 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    h5 {
        font-family: "Titillium Web", "Nanum Gothic Coding", monospace;
    }
    h6 {
        font-family: "Titillium Web", "Nanum Gothic Coding", monospace;
    }
    .f1 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    .f2 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    .f3 {
        font-family: "Titillium Web", "Nanum Gothic Coding", monospace;
    }
    .f4 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    .f5 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
    .f6 {
        font-family: "Titillium Web", "Nanum Gothic Coding", monospace;
    }
    .f7 {
        font-family: "Teko", "Do Hyeon", sans-serif;
    }
}