.media-area {
    .main-container {
        width: 100%;
        background-color: $color-blue;
    }
    .content {
        width: 1200px;
        margin: auto;
        padding: 56px 0;
    }
    h2 {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 6px;
        text-align: center;
    }
    .media-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    .media-list li {
        margin: auto;
        text-align: center;
        padding: 20px 15px;
    }
    .media-list img {
        max-width: 100%;
        height: 100%;
    }
}
