.promotion-area {
    margin: auto;
    width: 800px;
    .tb-block {
        vertical-align: top;
        display: table-cell;
        padding: 8% 4%;
        width: 50%;
    }
    .blue {
        background-color: #00b7ce;
    }
    .green {
        background-color: #a1bf4b;
    }
    .img-container {
        width: 100%;
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
    }
    .msg-container {
        text-align: center;
        margin: 10% auto 0 auto;
        max-width: 300px;
    }
}
.promotion-popup {
    height: auto !important;
    margin: 15vh auto !important;
    .modal-header {
        background-color: transparent;
    }
    .modal-content {
        background-color: transparent;
        box-shadow: none;
        overflow-y: hidden;
        overflow-x: hidden;
        border: 0;
    }
    .modal-body {
        padding: 0;
    }
}
@media (max-width: 1024px) {
    .promotion-area {
        width: 100%;
        .msg-container {
            text-align: center;
            margin: 10% auto;
        }
    }
    .promotion-popup {
        .modal-content {
            width: 80%;
            margin: auto;
        }
    }
}
@media (max-width: 479px) {
    .promotion-area .f7 {
        font-size: 20px;
    }
    .promotion-area .f3 {
        font-size: 12px;
    }
    .promotion-area .msg-container {
        text-align: center;
        margin: 10% auto 5px;
    }
    .promotion-area .tb-block {
        vertical-align: top;
        display: table-cell;
        padding: 8% 15% 5%;
        width: 100%;
        float: left;
        max-height: 50vh;
    }
    .promotion-popup {
        margin-top: 0vh !important;
        height: auto !important;
    }
    .promotion-popup .modal-content {
        width: 100%;
        margin: auto;
    }
    .promotion-popup .modal-header {
        background-color: transparent;
        height: 0;
        z-index: 9;
    }
    .modal-dialog .modal-header span {
        font-family: "Flamenco", cursive;
        font-weight: 300;
        font-size: 4rem;
    }    
    .promotion-popup .modal-body {
        padding: 8%;
    }
}