.team-area {
  .team-round {
    margin-bottom: 30px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    position: inherit;
    .profile {
      margin: auto;
      @include radius(100);
      position: relative;
      text-align: center;
      padding-top: 10px;
      width: 220px;
      margin-bottom: 18px;
  
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: -89px;
        width: 3px;
        height: 89px;
      }
  
      .img {
        width: 220px;
        height: 220px;
        position: relative;
        overflow: hidden;
        @include radius(110px);
        margin-left: 10px;
  
        img {
          width: 220px;
          height: 220px;
          overflow: hidden;
          @include radius(110px);
        }
  
        .social {
          content: '';
          position: absolute;
          width: 220px;
          height: 220px;
          @include radius(110px);
          top: 0px;
          left: -220px;
          background-color: #00b7ce;
          opacity: 0.83;
          text-align: center;
          @include transition(.3s);
  
          li {
            display: inline-block;
            margin: 82px 10px;
            a {
              font-size: 36px;
              color: #fff;
            }
          }
        }
      }
    }
  
    &:hover {
      .profile {
        .img {
          .social {
            left: 0px;
          }
        }
      }
    }
  }
  .main-container {
    width: 100%;
  }
  .content {
    width: 1300px;
    margin: auto;
    padding: 180px 0 80px 0;
  }
  h2 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 6px;
  }
  h2 {
    text-align: center;
  }
  .team-member-list {
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
  }
  .name {
    text-align: center;
    font-size: 28px;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    margin-top: 34px;
  }
  .title {
    text-align: center;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1;
    color: #a0a0a0;
  }
  .btn-more:hover {
    opacity: 0.8;
  }
}