.token-sale-area {
    .content {
        max-width: 1300px;
        margin: auto;
    }
    .table-container {
        .logo-group {
            width: 100%;
            height: 100px;
        }
        .tb-col {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            width: 50%;
            padding: 0 20px;
        }
        .title {
            margin: auto;
        }
        .subtitle {
            width: 100%;
            text-align: center;
            margin: 15px auto;
        }
        .logo-container {
            text-align: center;
            padding: 0 20px;
            width: 100%;
            a {
                margin: auto;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
@media (max-width: 768px) {
    .token-sale-area {
        .table-container {
            .tb-col {
                width: 100%;
                margin: 20px auto;
            }
        }
    }
}
@media (max-width: 479px) {
    .token-sale-area {
        .table-container {
            .logo-group {
                display: block;
                height: auto;
                .logo-container {
                    margin: 20px auto;
                    padding: 10px 30px;
                }
            }
        }
    }
}