.token-economy-area {
    .main-container {
        width: 100%;
        background-color: #252525;
    }
    .content {
        width: 1600px;
        margin: auto;
        padding: 50px 0;
    }
    h2 {
        font-size: 54px;
        font-weight: 400;
        letter-spacing: 4px;
    }
    h2, h3, h5 {
        text-align: center;
    }
    .circle {
        width: 308px;
        height: 308px;
        border: 8px solid $color-blue;
        @include radius(154px);
        margin: auto;
    }
    .green-circle {
        border: 8px solid $color-green;
    }
    .title {
        font-family: 'Teko', sans-serif;
        font-weight: 400;
        font-size: 49px;
        letter-spacing: 2px;
        line-height: 1;
        margin-top: 78px;
        color: #03c5dd;
    }
    .value {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        line-height: 1;
        color: #FFFFFF;
    }
    .dollar {
        font-size: 24px;
        margin-top: 28px;
    }
    .amount {
        font-size: 29px;
        margin-top: 22px;
    }
    .green-circle .title {
        color: #bae242;
        margin-top: 51px;
        line-height: 1.15;
    }
    .green-circle .dollar {
        margin-top: 15px;
        margin-bottom: 21px;
    }
    .row {
        margin: 0;
        max-width: 770px;
    }
    .coin-info {
        margin: 81px auto auto auto;
        max-width: 1224px;
    }
    .coin-detailed-info {
        max-width: 1600px;
        margin-top: 80px;
    }
    .col {
        text-align: center;
        padding: 0;
        margin: 0 3px 3px 0;
        position: inherit;
    }
    .soft-cap {
        flex: 0 0 32%;
        max-width: 32%;
    }
    .col-blue {
        max-width: 770px;
    }
    .col-green{
        max-width: 770px;
        margin-left: 72px;
    }
    .bg-left {
        @include radius(16px 0 0 16px);
        h5 {
            font-family: 'Teko', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.6;
            color: #FFFFFF;
            letter-spacing: 2px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .bg-right {
        @include radius(0 16px 16px 0);
        line-height: 50px;
        padding-top: 3px;
        h5 {
            font-family: 'Titillium Web', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height:  1.6;
            color: #FFFFFF;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .token-detailed-info-gap {
        margin-top: 48px;
    }
    .col1 {
        background-color: #00b7ce;
    }
    .col2 {
        background-color: #0a92a4;
    }
    .col3 {
        background-color: #8aa739;
    }
    .col4 {
        background-color: #637c27;
    }
    .row-text-only {
        font-family: 'Teko', sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height:  40px;
        letter-spacing:  2px;
        color: #FFFFFF;
        margin: 32px 0 2px 0;
    }
}