.welcome-area {
    position: relative;
    .main-container {
        width: 100%;
    }
    .background {
        background: no-repeat center url($welcome-background-image-url);
        background-position-y: 0;
    }
    .content {
        width: 1400px;
        margin: auto;
        padding: 45px;
    }
    .core-message {
        width: 1000px;
        margin: auto;
        margin-top: 150px;
        text-shadow: 0px 0px 10px rgb(0, 16, 26), 0px 0px 15px rgba(0, 16, 26, 0.79), 0px 0px 18px rgba(0, 16, 26, 0.03);
    }
    .sub-message-container {
        margin-top: -15px;
    }
    .sub-message {
        font-size: 20px;
        text-align: center;
        margin: 25px auto 20px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 200;
        letter-spacing: 0.02em;
        line-height: 1.5;
        text-shadow: 0px 0px 10px rgb(0, 16, 26), 0px 0px 15px rgba(0, 16, 26, 0.79), 0px 0px 18px rgba(0, 16, 26, 0.03);
    }
    .private-sale-notice {
        margin-top: 30px;
    }
    .private-sale-txt {
        color: #b2d254;
        text-align: right;
        font-size: 45px;
        font-weight: 400;
        margin-right: -7px;
        letter-spacing: 0.02em;
    }
    .btn-join {
        background-color: #8aa739;
        border-radius: 24px;
        padding: 1px 24px 3px;
        margin-top: 6px;
        float: left;
    }
    .btn-txt {
        color: #FFFFFF;
        font-size: 22px;
        font-family: "Titillium Web", sans-serif;
        font-weight: 400;
        letter-spacing: 0.02em;
    }
    .row-contributor {
        margin-top: -25px;
        text-align: center;
        .link-group {
            margin: auto;
            a, span {
                line-height: 71px;
                color: #FFFFFF;
                font-size: 20px;
                font-family: "Titillium Web", sans-serif;
                font-weight: 300;
                letter-spacing: 0.02em;
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        display: inline;
    }
    li a {
        font-weight: 400;
        font-size: 16px;
        font-family: "Titillium Web", sans-serif;
        letter-spacing: 0.02em;
    }
    .link-group-container {
        margin-top: 40px;
    }
    .link-list {
        margin: auto;
        text-align: center;
    }
    .sepeartor {
        font-size: 24px;
        font-weight: 300;
        color: $color-blue;
        line-height: 36px;
        margin: 0 8px;
    }
    .link-txt {
        line-height: 36px;
        height: 36px;
        margin: auto;
    }
    .rating-container {
        width: 80%;
        margin: 65px auto;
    }
    .badge-container {
        padding: 14px 5px;
        background-color: #252525;
    }
    .txt-bonus-program {
        color: #00b7ce !important;
        font-weight: 500 !important;
    }
    @media (max-width: 1400px) {
        .content {
            width: 96%;
        }
    }
    @media (max-width: 660px) {
        .content {
            width: 96%;
        }
    }
}