.what-is-aen-token-area {
  .main-container {
    width: 100%;
    margin: auto;
  }
  .content {
    width: 1434px;
    margin: auto;
  }
  .message-container {
    max-width: 680px;
    padding: 0 30px;
    float: left;
    margin-left: 4%;
  }
  h2 {
    color: #b6d84e;
    text-align: left;
  }
  h3 {
    text-align: left;
  }
  h5 {
    text-align: left;
  }
  .video-container {
    margin: auto;
    margin-top: 0px;
    width: 600px;
    height: 337px;
    float: left;
    img {
      width: 100%;
    }
  }
  @media (max-width: 1420px) {
    .content {
        width: 96%;
    }
    .message-container {
      width: 50%;
    }
    .video-container {
      width: 540px;
      height: 303px;
    }
  }
  @media (max-width: 1250px) {
    .video-container {
      width: 480px;
      height: 270px;
    }
  }
  @media (max-width: 1120px) {
    .video-container {
      width: 420px;
      height: 236px;
    }
  }
  @media (max-width: 980px) {
    .video-container {
      float: none;
      margin-top: 5%;
    }
    .message-container {
      float: none;
      width: 100%;
      margin: auto;
    }
  }
}

.ytp-title-text, .ytp-watch-later-icon, .ytp-chrome-top .ytp-share-button {
  display: none;
}

.ytp-watch-later-icon {
  margin: auto;
  width: 36px;
  height: 36px;
  position: relative;
  display: none;
}