.what-is-aen-token-area {
  .main-container {
    width: 100%;
    margin: auto;
  }
  .content {
    width: 1534px;
    margin: auto;
    padding: 97px 0;
    display: flex;
  }
  .message-container {
    max-width: 680px;
    padding: 0 30px;
  }
  h2 {
    color: #b6d84e;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: 3px;
    margin: 0;
  }
  h3 {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.35;
    margin: 0;
    margin-top: 18px;
  }
  h5 {
    font-size: 18px;
    line-height: 1.75;
    color: #FFFFFF;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    margin: 0;
    margin-top: 18px;
  }
  .video-container {
    margin: auto;
    margin-top: 18px;
    width: 700px;
    height: 460px;
    img {
      width: 100%;
    }
  }
  .video {
    width: 536px;
    height: 378px;
  }
  @media screen and (max-width: 1600px) {
    .content {
        width: 90%;
    }
    .video-container {
      width: calc(100vw / 1600 * 700);
      height: calc(100vw / 1600 * 460);
    }
  }
  @media screen and (max-width: 769px) {
    /* start of medium tablet styles */
    .content {
      flex-wrap: wrap;
    }
  }
}