$color-deep-blue: #006a7c;
$color-medium-blue: #0084a5;
$color-light-blue: #0093a5;
$color-blue: #00b7ce;
$color-green: #b1d34a;
$ref-height: 1012;
$ref-width: 1800;
$content-width: 1576;
$header-height: 140;
$bottom-bar-height: 86px;
$welcome-session-height: 971;
$what-is-aen-token-height: 839;
$how-it-works-height: 850;
$explore-aenco-height: 766;

$token-economy-height: 1217;
$token-distribution-height: 1343;
$roadmap-height: 2016;
$team-height: 1352;
$contact-us-height: 835;
$footer-height: 72;



$header-image-url: "../draft/aenco-home_01.jpg";
$bottom-bar-image-url: "../draft/aenco-home_03.jpg";
$welcome-image-url: "../draft/aenco-home_02.jpg";
$what-is-aen-token-image-url: "../draft/aenco-home_04.jpg";
$how-it-works-image-url: "../draft/aenco-home_05.jpg";
$explore-aenco-image-url: "../draft/aenco-home_06.jpg";
$token-economy-image-url: "../draft/aenco-home_07.jpg";
$token-distribution-image-url: "../draft/aenco-home_08.jpg";
$roadmap-image-url: "../draft/aenco-home_09.jpg";
$team-image-url: "../draft/aenco-home_10.jpg";
$contact-us-image-url: "../draft/aenco-home_11.jpg";
$footer-image-url: "../draft/aenco-home_12.jpg";

$welcome-logo-url: "../img/logo.png";
$welcome-background-image-url: "../img/banner-bg.jpg";
$mobile-welcome-background-image-url: "../img/bg-mobile.jpg";
$how-it-works-icon-global: "../img/icon_global.png";
$how-it-works-icon-solution: "../img/icon_solution.png";
$how-it-works-icon-partners: "../img/icon_partners.png";
$what-is-aen-token-video-thumb-image: "../img/video-intro-thumb.jpg";
$explore-aenco-video-vision-thumb-images: "../img/video-vison-thumb.jpg";
$explore-aenco-video-rollout-thumb-images: "../img/video-rollout-thumb.jpg";
$explore-aenco-video-regulatory-thumb-images: "../img/video-regulatory-thumb.jpg";
$explore-aenco-video-community-thumb-images: "../img/video-community-thumb.jpg";
$challenge-one-logo: "../img/challenges-1.png";
$challenge-two-logo: "../img/challenges-2.png";
$challenge-three-logo: "../img/challenges-3.png";
$challenge-four-logo: "../img/challenges-4.png";
$opportunity-one-logo: "../img/opportunities-1.png";
$opportunity-two-logo: "../img/opportunities-2.png";
$opportunity-three-logo: "../img/opportunities-3.png";
$opportunity-four-logo: "../img/opportunities-4.png";
$icon-linkedin: "../img/icon-linkedin.png";
$icon-profile: "../img/icon-profile.png";
$arrow-image: "../img/aen-arrow.png";
$border-arrow: "../img/border-arrow.png";
$border-corner: "../img/border-corner.png";
$border-line: "../img/border-line.png";
$border-image: "../img/border.png";
$icon-bitcointalk: "../img/social/icon-bitcointalk.png";
$icon-youtube: "../img/social/icon-youtube.png";
$icon-discord: "../img/social/icon-discord.png";
$icon-facebook: "../img/social/icon-facebook.png";
$icon-medium: "../img/social/icon-medium.png";
$icon-reddit: "../img/social/icon-reddit.png";
$icon-twitter: "../img/social/icon-twitter.png";
$icon-linkedin: "../img/social/icon-linkedin.png";
$icon-telegram: "../img/social/icon-telegram.png";
$blockchain-platform-diagram-en: "../img/aenco-blockchain-platform-architecture-en.png";
$blockchain-platform-diagram-en-mobile: "../img/mobile/aenco-blockchain-platform-architecture-en.m.png";
$blockchain-platform-diagram-cn: "../img/aenco-blockchain-platform-architecture-cn.png";
$blockchain-platform-diagram-cn-mobile: "../img/mobile/aenco-blockchain-platform-architecture-cn.m.png";
$blockchain-platform-diagram-kr: "../img/aenco-blockchain-platform-architecture-kr.png";
$blockchain-platform-diagram-kr-mobile: "../img/mobile/aenco-blockchain-platform-architecture-kr.m.png";
$blockchain-en-mobile: "../img/mobile/aenco-blockchain-en.m.png";
$blockchain-en: "../img/aenco-blockchain-en.png";
$blockchain-cn-mobile: "../img/mobile/aenco-blockchain-cn.m.png";
$blockchain-cn: "../img/aenco-blockchain-cn.png";
$blockchain-kr-mobile: "../img/mobile/aenco-blockchain-kr.m.png";
$blockchain-kr: "../img/aenco-blockchain-kr.png";