$color-deep-blue: #006a7c;
$color-medium-blue: #0084a5;
$color-light-blue: #0093a5;
$color-blue: #00b7ce;
$color-green: #b1d34a;
$ref-height: 1012;
$ref-width: 1800;
$content-width: 1576;
$header-height: 140;
$bottom-bar-height: 86px;
$welcome-session-height: 971;
$what-is-aen-token-height: 839;
$how-it-works-height: 850;
$explore-aenco-height: 766;

$token-economy-height: 1217;
$token-distribution-height: 1343;
$roadmap-height: 2016;
$team-height: 1352;
$contact-us-height: 835;
$footer-height: 72;



$header-image-url: "../draft/aenco-home_01.jpg";
$bottom-bar-image-url: "../draft/aenco-home_03.jpg";
$welcome-image-url: "../draft/aenco-home_02.jpg";
$what-is-aen-token-image-url: "../draft/aenco-home_04.jpg";
$how-it-works-image-url: "../draft/aenco-home_05.jpg";
$explore-aenco-image-url: "../draft/aenco-home_06.jpg";
$token-economy-image-url: "../draft/aenco-home_07.jpg";
$token-distribution-image-url: "../draft/aenco-home_08.jpg";
$roadmap-image-url: "../draft/aenco-home_09.jpg";
$team-image-url: "../draft/aenco-home_10.jpg";
$contact-us-image-url: "../draft/aenco-home_11.jpg";
$footer-image-url: "../draft/aenco-home_12.jpg";

$welcome-logo-url: "../img/logo.png";
$welcome-background-image-url: "../img/banner-bg.jpg";
$mobile-welcome-background-image-url: "../img/bg-mobile.jpg";
$how-it-works-icon-global: "../img/icon_global.png";
$how-it-works-icon-solution: "../img/icon_solution.png";
$how-it-works-icon-partners: "../img/icon_partners.png";
$what-is-aen-token-video-thumb-image: "../img/video-intro-thumb.jpg";
$explore-aenco-video-vision-thumb-images: "../img/video-vison-thumb.jpg";
$explore-aenco-video-rollout-thumb-images: "../img/video-rollout-thumb.jpg";
$explore-aenco-video-regulatory-thumb-images: "../img/video-regulatory-thumb.jpg";
$explore-aenco-video-community-thumb-images: "../img/video-community-thumb.jpg";